$colorLogin: lighten($colorPrimary, 3%);

.no-login {
	background: $colorLogin;
	background: -moz-radial-gradient(center, ellipse cover, darken($colorLogin, 0%) 0%, darken($colorLogin, 5%) 44%, darken($colorLogin, 10%) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $colorLogin), color-stop(44%, darken($colorLogin, 5%)), color-stop(100%, darken($colorLogin, 0%)));
	background: -webkit-radial-gradient(center, ellipse cover, darken($colorLogin, 0%) 0%, darken($colorLogin, 5%) 44%, darken($colorLogin, 10%) 100%);
	background: -o-radial-gradient(center, ellipse cover, darken($colorLogin, 0%) 0%, darken($colorLogin, 5%) 44%, darken($colorLogin, 10%) 100%);
	background: -ms-radial-gradient(center, ellipse cover, darken($colorLogin, 0%) 0%, darken($colorLogin, 5%) 44%, darken($colorLogin, 10%) 100%);
	background: radial-gradient(ellipse at center, darken($colorLogin, 0%) 0%, darken($colorLogin, 5%) 44%, darken($colorLogin, 10%) 100%);

	.logo {
		margin: 10px 0 40px;
		img {
			vertical-align: top;
			&:first-child {
				width: 75px;
			}
			&:last-child {
				width: 203px;
			}
		} 
		p {
			color: $colorPrimary;
			font-size: 0.75rem;
			line-height: 1rem;
			margin: 0 0 50px;
		}
	}

	.logo-agetic {
		margin-top: 80px;
		text-align: center;
	}

	.container-main > div > md-toolbar {
		background-color: $colorPrimary;
		// border-bottom: 1px solid lighten($colorPrimary, 70%);
	}

	acme-sidenav, 
	acme-navbar,
	.breadcrumb {
    	display: none;
	}

	.main {
		padding: 0 !important;
	}

	.login-panel {
	    margin: 10px auto 0;
	    max-width: 380px;

	    md-toolbar {
			background-color: white !important;
			background-color: white !important;
		    border-bottom: 1px solid #e0e0e0;
		    color: #333;
		    md-icon {
		    	color: #333 !important;
		    }
		}
	    md-card-content {
		    padding: 30px 30px 20px;
		}
		md-input-container {
			width: 86%;
		}
		.md-primary {
		    font-size: 1rem;
		    padding: 5px 10px;
		    width: 97%;
		}
	}	
}

.login-dialog {
	max-width: 400px;
	width: 100%;
	md-input-container {
		width: 90%;
	}
}

.alert {
	font-size: 0.8rem;
    margin: 0 0 15px;
    padding: 10px 15px;
}

@media (max-width: 768px) {	
	.no-login .logo-agetic {
	    margin-top: 30px;
	}
}