<md-toolbar style="display: none;">
  <div class="logo"><img src="assets/images/logo.png"></div>
</md-toolbar>
<div class="container">
	<div class="logo-agetic">
		<img src="assets/images/logo.png">
	</div>
	<md-card class="login-panel">
		<md-toolbar class="md-table-toolbar">
			<div class="md-toolbar-tools text-left">
				<md-icon>fingerprint</md-icon> <span>Control de personal</span>
				<div flex></div>
				<div flex></div>
			</div>
		</md-toolbar>
		<md-card-content>
			<form name="form" ng-submit="login.login()">
				<md-input-container>
					<label>Nombre de usuario</label>
					<md-icon>person</md-icon><input ng-model="login.username" required>
				</md-input-container>
				<md-input-container>
					<label>Contraseña</label>
					<md-icon>lock</md-icon><input ng-model="login.password" type="password" required>
				</md-input-container>
				<md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
					Iniciar sesión
				</md-button>
			</form>
		</md-card-content>
	</md-card>
</div>