// .formly > div:first-child + div.formly-field-select, 
// .formly > div:first-child + div.formly-field-select + div.formly-field-textarea
// {
// 	width: 100%;
// }

.btn-link {
	font-size: 0.85rem;
    line-height: 26px;
    margin: 0;
    min-height: 26px;
    min-width: 50px;
    padding: 0;
}

.permisos-rango {
	font-size: 0.75rem;
    margin-bottom: 20px;
	md-radio-button {
		margin: 6px 20px !important;
	}
}

.formly-permiso {
	.formly > div:first-child {
	    display: none;
	}
	.md-datepicker-container {
		margin-bottom: 15px;
	}
}
.formly-column-2 {
	.formly-permiso {		
		.formly-field {
		    width: 100%;
		}
	}
}

/* TIMEPICKER */
.time-date {
    font-size: 14px !important;
}
.time-date  {
	& > .control > .slider > .time-control > .time-inputs > input {
		font-size: 1.1rem;
		line-height: 1.4rem;
		margin: 0 3px;
		width: 3.6rem;
	}
	&.compact:not(.full-mode) {
		width: 100%;
	}
}
.time-date > .control > .slider > .time-control > .time-inputs > .hours.minutes, 
.time-date > .control > .slider > .time-control > .time-inputs > .minutes.minutes {
    left: 46%;
}
.time-date > .control > .slider > .time-control > .time-inputs > .hours.down, 
.time-date > .control > .slider > .time-control > .time-inputs > .minutes.down {
    bottom: -2rem;
}
.time-date > .control > .slider > .time-control > .time-inputs > .hours.up, 
.time-date > .control > .slider > .time-control > .time-inputs > .minutes.up {
    top: -2rem;
}
.time-date > .control > .slider > .time-control > .time-inputs {
    right: 90px;
}
.time-date > .control > .slider > .time-control > .time-inputs > .hours.hours, 
.time-date > .control > .slider > .time-control > .time-inputs > .minutes.hours {
    left: 1.4rem;
}
.time-date > .control > .slider > .time-control > .time-inputs {
    bottom: auto;
    margin-bottom: -2rem;
    top: 2rem;
}
.time-date > .control > .slider > .time-control > .time-inputs > .hours, 
.time-date > .control > .slider > .time-control > .time-inputs > .minutes {
	min-height: 30px;
    width: 3.8rem;
}
.time-date.compact:not(.full-mode) > .control > .full-title {
	display: none;
}
.time-date > .control > .slider > .date-control, 
.time-date > .control > .slider > .time-control, 
.time-date > .control > .slider > .switch-control,
.time-date.compact:not(.full-mode) > .control {
    height: 5.5rem;
}
.time-date.compact:not(.full-mode) {
    position: relative;
}

.time-date > .buttons {
    position: absolute;
    right: 10px;
    top: 1rem;
}
