<md-dialog aria-label="Agregar/Editar" ng-cloak class="formly-dialog formly-column-{{column}}">
    <form ng-submit="save()" id="data-form" name="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button md-toast-button-close" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>        
            <div class="md-dialog-content">
                <md-content layout-gt-sm="column" layout-padding class="formly">
                    <md-autocomplete
                        md-selected-item="selectedItem"
                        md-search-text="searchText"
                        md-items="item in querySearch(searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Escriba el nombre de usuario del funcionario"
                        required>
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No existe el usuario "{{searchText}}".
                        </md-not-found>
                    </md-autocomplete>
                    <formly-form model="data" fields="fields" options="options" form="form"></formly-form>
                    <div class="alert alert-info">
                        <div ng-if="data.tipo_permiso == 'comision'">
                            <strong>Permiso de comisión: </strong>Las veces y tiempo que sean necesarios. Deben estar debidamente justificados y autorizados por el inmediato superior.
                        </div>
                        <div ng-if="data.tipo_permiso == 'particular'">
                            <p><strong>NOTA: </strong>Todos los funcionarios gozarán de <strong>dos horas</strong> de permiso mensuales a ser tomados durante un mes, no son acumulativos. No sirven para justificar atrasos.</p>
                            <p>Si la boleta de permiso está aprobada un día antes para que haga uso de este beneficio a primera hora de la mañana no es justificativo de atraso. Es para realizar tramites personales.</p>
                        </div>
                        <div ng-if="data.tipo_permiso == 'licencia'">
                            <p><strong>NOTA: </strong>Todos los funcionarios gozarán de licencia con goce de su remuneración y sin cargo a vacaciones en:</p>
                            <p>Asistencia a cursos de capacitación,becas de estudios, seminarios y cursos de post grado.</p>
                            <ol style="list-style-type: lower-latin;">
                                <li>Matrimonio <strong>*</strong></li>
                                <li>Fallecimiento de padres. cónyuge, hermanos o hijos (3 días)  <strong>*</strong></li>
                                <li>Nacimiento de hijos (3 días) <strong>*</strong></li>
                                <li>Por Baja Médica <strong>*</strong></li>
                                <li>Por enfermedad de un hijo menor de 12 años se otorgarán dos días <strong>*</strong></li>
                                <li><strong>Dos días hábiles</strong> fraccionados, durante una gestión, las mismas que no podrán ser usadas de manera continua, ni antes de feriados y vacaciones.</li>
                            </ol>
                            <p><strong>(*) Estas licencias solo puedes ser creadas y aprobadas por RRHH.</strong></p>
                        </div>
                        <div ng-if="data.tipo_permiso == 'olvido_marcar'">
                            <p><strong>NOTA: </strong>Se presentarán casos de olvidos de marcado tanto en el ingreso como salida, que deberán ser tomados en cuenta y con una boleta de justificación para corregir el mismo.</p>                            
                        </div>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>cancel</md-icon> Cancelar
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
                <md-icon>check</md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>