<md-dialog aria-label="Agregar/Editar" ng-cloak class="formly-dialog formly-column-2">
    <form ng-submit="answer('save')" id="data-form" name="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button md-toast-button-close" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding class="formly-permiso">                    
                    <div class="alert alert-danger" ng-if="data.tipo_permiso == 'particular' && data.messageError" style="display: block !important;">
                        <strong>ALERTA:</strong> {{data.messageError}}
                    </div>
                    <div class="alert alert-danger" ng-if="data.tipo_permiso == 'licencia' && data.messageError" style="display: block !important;">
                        <strong>ALERTA:</strong> {{data.messageError}}
                    </div>                    
                    <div layout-gt-sm="row">
                        <!-- <formly-form model="data" fields="fields" options="options" form="form" flex layout-padding></formly-form> -->
                        <!-- <formly-form model="data" fields="data.fields" options="options" class="formly-permiso-second" form="form" flex layout-padding></formly-form> -->
                        <div flex class="formly">
                            <div class="formly-field">
                                <input type="hidden" ng-model="data.id">
                            </div>
                            <div class="formly-field">
                                <md-input-container>
                                    <label>Tipo de permiso</label>
                                    <md-select ng-model="data.tipo_permiso">
                                        <md-option ng-repeat="option in keys['tipo_permiso'].templateOptions.options" value="{{option.value}}">
                                            {{option.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="formly-field">
                                <div ng-if="data.tipo_permiso == 'licencia'" class="permisos-rango">
                                    <md-radio-group ng-model="data.rango">
                                        <md-radio-button value="uno" checked>1 día de licencia(8 horas)</md-radio-button>
                                        <md-radio-button value="rango">Rango de horas en 1 día</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="formly-field" ng-hide="data.tipo_permiso == 'particular'">
                                <md-input-container>
                                    <label>Motivo</label>
                                    <input type="" ng-model="data.motivo">
                                </md-input-container>
                            </div>
                            <div class="formly-field" ng-hide="data.tipo_permiso != 'comision'">
                                <md-input-container>
                                    <label>Lugar</label>
                                    <input type="" ng-model="data.comision_lugar">
                                </md-input-container>
                            </div>
                            <div class="formly-field" ng-hide="data.tipo_permiso != 'licencia'">
                                <md-input-container>
                                    <label>Documento de respaldo</label>
                                    <input type="" ng-model="data.licencia_respaldo">
                                </md-input-container>
                            </div>
                            <div class="formly-field" style="margin-bottom: 20px;">
                                <md-input-container>
                                    <label>Unidad organizacional</label>
                                    <md-select ng-model="data.unidad_organizacional" required>
                                        <md-option ng-repeat="option in keys['unidad_organizacional'].templateOptions.options" value="{{option.value}}">
                                            {{option.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="formly-field">
                                <md-input-container>
                                    <label>Jefe responsable</label>
                                    <md-select ng-model="data.jefe">
                                        <md-option ng-repeat="option in jefes" value="{{option.value}}">
                                            {{option.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div flex style="padding: 0 8px;">
                            <div class="md-datepicker-container">
                                <label>Fecha <span ng-hide="data.tipo_permiso != 'comision'">de inicio</span></label>
                                <md-datepicker ng-model="data.fecha_ini" md-placeholder="dd/mm/aaaa" required></md-datepicker>
                            </div>
                            <div class="md-datepicker-container" ng-hide="data.tipo_permiso == 'licencia' && (data.rango == 'uno' || data.rango == 'dos')">
                                <label>Hora de inicio</label>
                                <time-date-picker ng-model="data.hora_ini" display-mode="time" class="modal-content"></time-date-picker>
                            </div>
                            <div class="md-datepicker-container" ng-hide="data.tipo_permiso == 'particular' || data.tipo_permiso == 'olvido_marcar' || (data.tipo_permiso == 'licencia' && (data.rango == 'uno' || data.rango == 'rango'))">
                                <label>Fecha de fin</label>
                                <md-datepicker ng-model="data.fecha_fin" md-placeholder="dd/mm/aaaa" required></md-datepicker>
                            </div>
                            <div class="md-datepicker-container" ng-hide="data.tipo_permiso == 'olvido_marcar' || (data.tipo_permiso == 'licencia' && (data.rango == 'uno' || data.rango == 'dos'))">
                                <label>Hora de fin</label>
                                <time-date-picker ng-model="data.hora_fin" display-mode="time" class="modal-content"></time-date-picker>
                            </div>
                        </div>
                    </div>                
                    <div class="alert alert-success" ng-if="data.tipo_permiso == 'particular' && data.particular_save">
                        <strong>PERMISOS PARTICULARES: </strong>Tiene {{data.particular_restante_mes}} restantes para usar.
                    </div>
                    <div class="alert alert-danger" ng-if="data.tipo_permiso == 'particular' && !data.particular_save">
                        <strong>ALERTA:</strong> Ya agotó sus 2 horas de permisos particulares de este mes.
                    </div>
                    <div class="alert alert-success" ng-if="data.tipo_permiso == 'licencia' && data.licencia_save">
                        <strong>LICENCIAS: </strong>Tiene {{data.licencia_restante_year}} restantes para usar en esta gestión.
                    </div>
                    <div class="alert alert-danger" ng-if="data.tipo_permiso == 'licencia' && !data.licencia_save">
                        <strong>ALERTA:</strong> Ya agotó sus 2 días de licencia de este año.
                    </div>
                    <div class="alert alert-info">
                        <div ng-if="data.tipo_permiso == 'comision'">
                            <p><strong>Permiso de comisión: </strong>Las veces y tiempo que sean necesarios. Deben estar debidamente justificados y autorizados por el inmediato superior.</p>
                            <p>
                                <strong>Artículo 28.-</strong> Declaratoria en Comisión por horas La declaratoria en comisión por horas, fuera de la AGETIC, se debe realizar mediante:
                            </p>
                            <p><strong>a) Papeletas en comisión por horas .-</strong> Una vez registrada su asistencia y con validez de cuatro horas y media como máximo, previa justificación del inmediato superior.</p>
                        </div>
                        <div ng-if="data.tipo_permiso == 'particular'">
                            <p><strong>NOTA: </strong>Todos los funcionarios gozarán de <strong>dos horas</strong> de permiso mensuales a ser tomados durante un mes, no son acumulativos. No sirven para justificar atrasos.</p>
                            <p>Si la boleta de permiso está aprobada un día antes para que haga uso de este beneficio a primera hora de la mañana no es justificativo de atraso. Es para realizar tramites personales.</p>
                        </div>
                        <div ng-if="data.tipo_permiso == 'licencia'">
                            <p><strong>NOTA: </strong>Todos los funcionarios gozarán de licencia con goce de su remuneración y sin cargo a vacaciones en:</p>
                            <p>Asistencia a cursos de capacitación,becas de estudios, seminarios y cursos de post grado.</p>
                            <ol style="list-style-type: lower-latin;">
                                <li>Matrimonio <strong>*</strong></li>
                                <li>Fallecimiento de padres. cónyuge, hermanos o hijos (3 días)  <strong>*</strong></li>
                                <li>Nacimiento de hijos (3 días) <strong>*</strong></li>
                                <li>Por Baja Médica <strong>*</strong></li>
                                <li>Por enfermedad de un hijo menor de 12 años se otorgarán dos días <strong>*</strong></li>
                                <li><strong>Dos días hábiles</strong> fraccionados, durante una gestión, las mismas que no podrán ser usadas de manera continua, ni antes de feriados y vacaciones.</li>
                            </ol>
                            <p><strong>(*) Estas licencias solo puedes ser creadas y aprobadas por RRHH.</strong></p>
                        </div>
                        <div ng-if="data.tipo_permiso == 'olvido_marcar'">
                            <p><strong>NOTA: </strong>Se presentarán casos de olvidos de marcado tanto en el ingreso como salida, que deberán ser tomados en cuenta y con una boleta de justificación para corregir el mismo.</p>                            
                        </div>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>cancel</md-icon> Cancelar
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid" ng-if="data.tipo_permiso == 'comision' || (data.tipo_permiso == 'particular' && data.particular_save) || (data.tipo_permiso == 'licencia' && data.licencia_save) || data.tipo_permiso == 'olvido_marcar'">
                <md-icon>check</md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>