<div class="container">
  <md-card ng-if="designacionPermisos.rol == 2">
    <md-toolbar class="md-table-toolbar">
      <div class="md-toolbar-tools text-left">
      <md-icon>checked</md-icon> <span>Permisos por aprobar</span>
        <div flex></div>
        <md-button class="md-icon-button btn-collapsed" ng-click="">
          <md-tooltip>Colapsar</md-tooltip>
          <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content>
      <div class="alert alert-info">
        Tareas a realizar:
        <ul class="no-style">
          <li><md-icon>checked</md-icon> Puede <strong>aprobar</strong> una solicitud de permiso.</li>
          <li><md-icon>cancel</md-icon> Puede <strong>rechazar</strong> una solicitud de permiso.</li>
        </ul>
      </div>
      <div class="alert alert-info">
        <md-icon>info_outline</md-icon> <strong>Tipos de permiso:</strong> <strong>L</strong> = Licencia, <strong>C</strong> = Comisión, <strong>P</strong> = Particular.
      </div>
      <div class="alert alert-danger" ng-if="designacionPermisos.permisos.length == 0">
        <md-icon>info_outline</md-icon> No tiene ninguna solicitud de permisos.
      </div>
      <div class="table-responsive" ng-if="designacionPermisos.permisos.length">
        <table class="table table-striped table-hovered table-horario detalle">
          <thead>
            <tr>
              <th>Nro.</th>
              <th>Acciones</th>
              <th>Tipo de permiso</th>
              <th class="text-left">Funcionario</th>
              <th class="text-left">Fecha y hora</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody ng-repeat="item in designacionPermisos.permisos">
            <tr>
              <td class="text-right">{{item.id}}</td>
              <td class="text-center md-table-options">
                <md-button class="md-icon-button" aria-label="Editar" ng-click="designacionPermisos.aprobar($event, item.id)">
                  <md-tooltip>Aprobar permiso</md-tooltip>
                  <md-icon>checked</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Editar" ng-click="designacionPermisos.rechazar($event, item.id)">
                  <md-tooltip>Rechazar permiso</md-tooltip>
                  <md-icon>cancel</md-icon>
                </md-button>
              </td>
              <td class="text-center">{{designacionPermisos.lang.permisos[item.tipo_permiso]}}</td>
              <td>{{ item.usuario }}</td>
              <td>
                <span>{{ item.tipo_permiso == 'particular' ? 'El' : 'Del' }} {{item.fecha_ini | date:'dd/MM/yyyy'}}</span>
                <span> {{ item.tipo_permiso == 'particular' ? 'de' : 'a' }} Hrs. {{item.hora_ini | datetime:'HH:mm'}}</span><br ng-if="item.tipo_permiso != 'particular'">
                <span ng-if="item.tipo_permiso != 'particular'">Al {{item.fecha_fin | date:'dd/MM/yyyy'}}</span>
                <span> a {{ item.tipo_permiso == 'particular' ? '' : 'Hrs.' }} {{item.hora_fin | datetime:'HH:mm'}}</span>
              </td>
              <td class="text-center">
                <md-button ng-click="designacionPermisos.verDetalle($index)" 
                class="btn-toggle-detalle" 
                data-btn-toggle="{{$index}}">Ver detalle</md-button>
              </td>
            </tr>
            <tr>
              <td colspan="5" style="padding: 0; border-top: none; border-bottom: none;">
                <div style="display: none; padding: 15px 20px 10px;" class="toggle-detalle" data-toggle="{{$index}}">
                  <p><label>Unidad:</label> {{item.unidad_organizacional}}</p>
                  <p ng-if="item.tipo_permiso != 'particular'"><label>Motivo:</label> {{item.motivo}}</p>
                  <p ng-if="item.tipo_permiso == 'licencia'"><label>Respaldo:</label> {{item.licencia_respaldo}}</p>
                  <p ng-if="item.tipo_permiso == 'comision'"><label>Lugar de Comisión:</label> {{item.comision_lugar}}</p>
                  <p><label>Fecha de creación:</label> {{item.fecha_registro | date:'dd/MM/yyyy hh:mm'}}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-card-content>
  </md-card>
  <crud-table ng-if="designacionPermisos.rol != 2"
              url="designacionPermisos.url" 
              title-table="designacionPermisos.title" 
              template="designacionPermisos.template"
              fields="designacionPermisos.fields" 
              column="designacionPermisos.column" 
              formly="designacionPermisos.formly" 
              permission="designacionPermisos.permission" 
              editable="designacionPermisos.editable" 
              order="designacionPermisos.order" 
              buttons="designacionPermisos.buttons" 
              dialog-controller="designacionPermisos.dialogController" 
              event-save="designacionPermisos.eventSave" 
              id-show="designacionPermisos.idShow" 
              fks="designacionPermisos.fks">
  </crud-table>
</div>
