<div class="container">
  <md-card>
    <md-toolbar class="md-table-toolbar">
        <div class="md-toolbar-tools text-left">
            <md-icon>hourglass_full</md-icon> <span>Sincronizar Feriados</span>
            <div flex></div>
            <md-button class="md-icon-button btn-collapsed" ng-click="">
                <md-tooltip>Colapsar</md-tooltip>
                <md-icon>keyboard_arrow_down</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content>
        <p>Debe sincronizar los feriados antes de generar los reportes.</p>
        <div class="alert alert-info"><md-icon>info_outline</md-icon> <strong>Importante.-</strong> Debe realizar la sincronización de los feriados principio de año para agregar todos los feriados de toda la gestión para los cálculos respectivos</div>
        <md-button class="md-raised md-primary" ng-click="feriados.sincronizar()">
            <md-icon>hourglass_full</md-icon> Sincronizar ahora
        </md-button>
    </md-card-content>
  </md-card>
  <md-card ng-controller="CalFeriadoController">
    <md-toolbar class="md-table-toolbar">
      <div class="md-toolbar-tools text-left">
        <md-icon>insert_invitation</md-icon> <span>Calendario de Feriados</span>
        <div flex></div>
        <md-button class="md-icon-button btn-collapsed" ng-click="">
          <md-tooltip>Colapsar</md-tooltip>
          <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content>
      <div class="calendar" ng-model="eventSources" calendar="calFeriados" ui-calendar="uiConfig.calendar"></div>
    </md-card-content>
  </md-card>
  <crud-table url="feriados.url" 
  			title-table="feriados.title" 
  			template="feriados.template"
  			fields="feriados.fields" 
  			fks="feriados.fks">
  </crud-table>  
</div>
