acme-sidenav {

	md-toolbar {
		background-color: $colorInfo !important;
	}

	.sidenav-title {
		.sidenav-title-icon {
			font-size: 2.2rem;
			margin-right: 10px;
		}
		.sidenav-title-text {
			font-size: 1.1rem;
		}
	}

	.md-button.md-icon-button {
		color: #eee;
	    left: 262px;
	    margin: 6px 8px;
	    position: absolute;
	    top: 6px;
	    z-index: 70;
	}

	// .md-sidenav-left.ng-isolate-scope + .md-button.md-icon-button{
	// 	display: none;
	// }
	
	.md-sidenav-left.md-closed + .md-button.md-icon-button {
		background-color: $colorPrimary;
		display: block;
		left: initial;
		top: initial;
	    margin: 8px 0 0 8px;
	    z-index: 15;
	}


	md-sidenav {		
		width: $widthSidenav;
		height: 100%;
		overflow: initial;
	}

	.sidenav-list,
	.sidenav-sublist {
		padding: 0;
		margin: 0;
		list-style: none;		

		.md-button {
		    display: block;
		    font-size: 0.85rem;
		    font-weight: 300;
		    margin: 0;
		    overflow: hidden;
		    padding: 10px 15px;
		    text-align: left;
		    width: 100%;
		    border-radius: 0;
		    .md-icon-option {
		    	font-size: 1.2rem;
		    	color: darken($colorInfo, 2%);
		    	float: left;
		    	margin: 7px 10px 0 0;
		    	transition: all ease 0.3s;
		    }
		    .md-icon-text {
		    	float: left;
		    }
			.md-icon-arrow-down {
				float: right;
				margin-top: 6px;
				transition: all ease 0.3s;
			}
		}
	}
	.sidenav-list {
		overflow-y: auto;
		& > li {
			position: relative;	

			&::before {
				background-color: $colorWarning;
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				top: 0;
				width: 0;
				transition: all ease 0.3s;
			}

			&.active {
				.md-icon-arrow-down {
					transform: rotate(180deg);
	    			transition: all ease 0.3s;
				}
				&::before {
					width: 4px;
					transition: all ease 0.3s;
				}
			}
		}
	}
	.sidenav-sublist {
		display: none;
		.md-button {
			color: $colorInfo;
			line-height: 18px;
			padding: 15px;
			white-space: normal;

			.md-icon-text {
				margin-left: 29px;
			}
			&.active {
				background-color: #eee;
				border-left: 4px solid $colorInfo;
				color: #333;
				font-weight: 500;
				padding-left: 11px;
			}
		}
	}

	.sidenav-user {
		background-color: darken($colorPrimary, 7%);
		padding: 10px;
		height: 190px;
		transition: height ease .3s;

		.sidenav-user-name {
			color: white;
			font-size: 1rem;
			font-weight: 400;
			margin: 0;
			text-align: center;
		}
		.sidenav-user-item {
			color: darken(white, 40%);
			font-size: .9rem;
			text-align: center;
		}

		.sidenav-user-default {
			border: 3px solid white;
			border-radius: 50%;
			color: white;
			font-size: 3.4rem;
			height: 90px;
			line-height: 94px;
			margin: 0 auto;
			text-align: center;
			text-transform: uppercase;
			width: 90px;

			.md-icon {
				font-size: 5.6rem;
			}
		}
	}

	&.collapsed {

		width: $collapedWidthSidenav;

		& + .main, & + .main acme-navbar {
			padding-left: $collapedWidthSidenav;
		}

		md-sidenav {
			width: $collapedWidthSidenav;			
		}

		.md-button {
			min-width: $collapedWidthSidenav;
			text-align: center;

			.md-icon-text,
			.md-icon-arrow-down {
				display: none;
			}
			.md-icon-option {
				font-size: 1.6rem;
				float: none;
				margin: 9px 0 0;
				transition: all ease 0.3s;
			}
		}
		.sidenav-title {
			.sidenav-title-text {
				display: none;
			}		
		}
		.sidenav-user {
			height: 56px;
			padding: 7px;
			transition: height ease .3s;
			// visibility: hidden;

			figure {
				margin: 0;
				.sidenav-user-default {
					height: 50px;
					font-size: 2.6rem;
					line-height: 54px;
					width: 50px;
				}
			}
			& > h2, & > div {
				display: none;
			}
		}

		.sidenav-list {

			& > li {
				&.active {
					.sidenav-sublist {
						display: none !important;
					}
					&::before {
						width: 0;
					}
				}
				&:hover {
					.sidenav-sublist {
						display: block !important;
					}
					&::before {
						width: 4px;
						transition: all ease 0.3s;
					}
				}
			}
		}

		.sidenav-sublist {
			background-color: $colorPrimary;
			// border-bottom: 3px solid $colorWarning;
			left: $collapedWidthSidenav;
			position: absolute;
			top: 0;
			width: 230px;

			.md-button {
				.md-icon-text {
					color: white;
					display: inline-block;
					margin-left: 0;

				}
				&.active {
					.md-icon-text {
						color: #333;
					}
				}
			}

			li {
				position: relative;

				&::before {
					background-color: $colorWarning;
					bottom: 0;
					content: "";
					left: 0;
					position: absolute;
					top: 0;
					width: 0;
					transition: all ease 0.3s;
				}
				&:hover {
					&::before {
						width: 4px;
						transition: all ease 0.3s;
					}
				}
			}

			&:hover {
				position: absolute;

			}
		}
	}
}

.bg-primary-user {
	background-color: lighten($colorPrimary, 60%);
}

.bg-info-user {
	background-color: lighten($colorInfo, 30%);
}

.bg-success-user {
	background-color: lighten($colorSuccess, 30%);
}

.bg-danger-user {
	background-color: lighten($colorDanger, 30%);
}

.bg-warning-user {
	background-color: lighten($colorWarning, 30%);
}

@media (min-width: $minWidth) {
	acme-sidenav {
		bottom: 0;
		left: 0;
		position: fixed;
		top: 0;
		width: $widthSidenav;
		z-index: 11;

		md-sidenav {
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
		}

		&.collapsed {
			.sidenav-list {
				overflow: initial;
			}
		}
	}
}
