<div class="container">
    <md-card>
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>grid_on</md-icon> <span>Reporte de asistencia de los funcionarios</span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <form>
                <div class="form-control">
                    <label>Rango de Fechas: </label>
                    <md-datepicker ng-model="listaReporte.desde" md-placeholder="Desde"></md-datepicker>
                    <md-datepicker ng-model="listaReporte.hasta" md-placeholder="Hasta"></md-datepicker>

                    <md-autocomplete
                        ng-disabled="!listaReporte.funcionarios"
                        md-selected-item="listaReporte.selectedItem"
                        md-search-text="listaReporte.searchText"
                        md-items="item in listaReporte.querySearch(listaReporte.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Escriba el nombre de usuario"
                        class="report-autocomplete">
                        <md-item-template>
                            <span md-highlight-text="listaReporte.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No existe el usuario "{{listaReporte.searchText}}".
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container style="width: 350px">
                        <label>Seleccione el tipo de archivo para descargar</label>
                        <md-select ng-model="listaReporte.tipo">
                            <md-option ng-repeat="item in listaReporte.tipos" value="{{item.value}}">
                                {{item.text}}
                            </md-option>
                        </md-select>                                    
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="listaReporte.consultar()" ng-hide="true" ng-disabled="listaReporte.searchText.length == 0">
                        <md-icon>check</md-icon> Vista previa
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="listaReporte.descargar()">
                        <md-icon>file_download</md-icon> Descargar
                    </md-button>
                    <!-- <md-button class="md-raised" ng-click="listaReporte.nuevo()" ng-if="listaReporte.tableEmpty">
                    <md-icon>new</md-icon> Nuevo reporte
                    </md-button> -->
                </div>
                <div class="form-control">
            </div>
            </form>
        </md-card-content>
    </md-card>
    <md-card ng-if="listaReporte.tableEmpty">
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>grid_on</md-icon> <span>Asistencia</span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="form-control">
                <md-input-container style="width: auto">
                    <label>Seleccione el tipo de archivo para descargar</label>
                    <md-select ng-model="listaReporte.tipo">
                        <md-option ng-repeat="item in listaReporte.tipos" value="{{item.value}}">
                            {{item.text}}
                        </md-option>
                    </md-select>                                    
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="listaReporte.descargar()">
                    <md-icon>file_download</md-icon> Descargar
                </md-button>
            </div>
            <div class="table-responsive table-horario">
                <table class="table table-striped table-hovered">
                    <thead>
                        <tr>
                            <th ng-repeat="header in listaReporte.headers track by $index">{{header}}</th>
                            <th>Tolerancia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listaReporte.report">
                            <td ng-repeat="data in item track by $index">{{data}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-card-content>
    </md-card>
</div>