.alert {
	&.alert-info {
		background-color: lighten($colorWarning, 43%);
		border: 1px solid lighten($colorWarning, 38%);
		border-left-width: 5px;
		font-size: 0.75rem;
		text-align: justify;
		color: darken($colorWarning, 25%);
	}
	&.alert-danger {
		background-color: lighten($colorDanger, 45%);
		border: 1px solid lighten($colorDanger, 40%);
		border-left-width: 5px;
		font-size: 0.75rem;
		text-align: justify;
		color: darken($colorDanger, 13%);
	}
	&.alert-success {
		background-color: lighten($colorSuccess, 71%);
		border: 1px solid lighten($colorSuccess, 65%);
		border-left-width: 5px;
		font-size: 0.75rem;
		text-align: justify;
		color: darken($colorSuccess, 13%);
	}
}

.label {
	display: inline-block;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    padding: 2px 6px;
	font-weight: 500;
	width: auto !important;

	md-icon {
		font-size: 1.2rem;
		line-height: 1.4rem;
		min-width: 20px;
	}
}

.label-danger {
	background-color: lighten($colorDanger, 15%);
	color: white;

	md-icon {
		color: white;
	}
}

.label-success {
	background-color: lighten($colorSuccess, 15%);
	color: white;

	md-icon {
		color: white;
	}
}

.label-info {
	background-color: lighten($colorInfo, 15%);
	color: white;

	md-icon {
		color: white;
	}
}

.label-warning {
	background-color: lighten($colorWarning, 15%);
	color: white;

	md-icon {
		color: white;
	}
}

.label-primary {
	background-color: lighten($colorPrimary, 15%);
	color: white;

	md-icon {
		color: white;
	}
}
.label-gray {
	background-color: lighten(black, 70%);
	color: white;

	md-icon {
		color: white;
	}
}