// _buttons.scss.................Button elements.

a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised {
	background-color: $colorSuccess !important;
}

a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
	background-color: $colorInfo !important;
}

a.md-button.md-default-theme.md-primary.md-raised:hover:not([disabled]),
a.md-button.md-primary.md-raised:hover:not([disabled]),
a.md-button.md-primary.md-raised:active:not([disabled]),
a.md-button.md-primary.md-raised:focus:not([disabled]),
.md-button.md-default-theme.md-primary.md-raised:hover:not([disabled]),
.md-button.md-primary.md-raised:hover:not([disabled]),
.md-button.md-primary.md-raised:active:not([disabled]),
.md-button.md-primary.md-raised:focus:not([disabled]) {
	background-color: darken($colorSuccess, 3%) !important;
}

a.md-button.md-primary.md-fab:hover:not([disabled]),
.md-button.md-primary.md-fab:hover:not([disabled]),
a.md-button.md-primary.md-fab:focus:not([disabled]),
.md-button.md-primary.md-fab:focus:not([disabled]),
a.md-button.md-primary.md-fab:active:not([disabled]),
.md-button.md-primary.md-fab:active:not([disabled]) {
	background-color: darken($colorInfo, 3%) !important;	
}

.md-fab .md-icon {
    display: block;
    font-size: 2rem;
    margin: -3px 0 0 4px;
}

a.md-button.md-default-theme.md-accent:not([disabled]) md-icon, a.md-button.md-accent:not([disabled]) md-icon, .md-button.md-default-theme.md-accent:not([disabled]) md-icon, .md-button.md-accent:not([disabled]) md-icon {
	color: $colorInfo;
}

.btn-container {
	position: relative;
	min-height: 20px;

	.md-button {
		margin: -32px 0 0 10px;
		position: absolute;
	}
}

md-dialog-actions .md-button {
    padding: 3px 15px 3px 13px;

    md-icon {
	    font-size: 1.2rem;
	}
}

.btn-collapsed {
	transition: all ease .3s;
	&.rotate {
		transform: rotate(180deg);
		transition: all ease .3s;
	}
}