// _forms.scss...................Form elements.

md-input-container {
	margin: 5px 0;
	width: 100%;

	&.md-default-theme.md-input-focused:not(.md-input-invalid) label, 
	&.md-input-focused:not(.md-input-invalid) label {
		color: $colorPrimary !important;
	}
	label:not(.md-no-float):not(.md-container-ignore), 
	.md-placeholder {
	    color: rgba(0, 0, 0, 0.6);
	    font-size: 0.9rem;
	}
	&.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, 
	&.md-input-focused:not(.md-input-invalid) .md-input {
		border-color: lighten($colorPrimary, 15%) !important;
	}
}

.form-control {
	margin-bottom: 10px;
}

.container-main form {
    margin: 10px;
}

md-autocomplete input:not(.md-input) {
	font-family: 'Poppins';
}