// _modals.scss..................Modal elements. OR Dialog

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	background-color: $colorInfo;
}
md-dialog-actions {
    padding-bottom: 20px;
}

md-dialog {
	min-width: 360px;
}