<div class="container">
  <crud-table url="horarioRangos.url" 
  			title-table="horarioRangos.title" 
  			template="horarioRangos.template"
  			fields="horarioRangos.fields" 
  			fks="horarioRangos.fks">
  </crud-table>
</div>