<div class="container">
  <crud-table url="tipoPermisos.url" 
  			title-table="tipoPermisos.title" 
  			template="tipoPermisos.template"
  			fields="tipoPermisos.fields" 
  			fks="tipoPermisos.fks">
  </crud-table>
</div>
