<div class="container">
  <crud-table url="registroHorarios.url" 
  			title-table="registroHorarios.title" 
  			template="registroHorarios.template"
  			fields="registroHorarios.fields" 
  			order="registroHorarios.order" 
  			fks="registroHorarios.fks">
  </crud-table>
</div>