<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="vm.toggle()" aria-label="Menu collapse" show-gt-md>
            <md-tooltip>Mostrar/ocultar menú</md-tooltip>
            <i class="md-icon">menu</i>
        </md-button>        
        <!-- <span class="navbar-user-name" flex>{{vm.getFirstName()}}</span> -->
        <span flex></span>
        <span flex ng-if="$root.rrhh" class="text-right" style="font-size: 12px;">Última sincronización: {{vm.ultima}}</span>
        <md-button ng-if="$root.rrhh" class="margin-0 md-icon-button " ng-click="vm.sincronizar()" aria-label="Fullscreen" show-gt-md id="btn-fullscreen">
            <md-tooltip class="tooltip-fullscreen">Sincronizar con los biométricos</md-tooltip>
            <md-icon>sync</md-icon>
        </md-button>
        <md-button class="margin-0 md-icon-button btn-fullscreen" ng-click="vm.refresh()" aria-label="Refresh" show-gt-md id="btn-reload">
            <md-icon>refresh</md-icon>
            <md-tooltip>Recargar página</md-tooltip>
        </md-button>
        <md-button class="margin-0 md-icon-button btn-fullscreen" ng-click="vm.fullscreen()" aria-label="Fullscreen" show-gt-md id="btn-fullscreen">
            <md-icon>fullscreen</md-icon>
            <md-icon>fullscreen_exit</md-icon>
            <md-tooltip class="tooltip-fullscreen"><span class="exit">Salir </span>Pantalla completa</md-tooltip>
        </md-button>
        <md-menu>
            <!-- <md-button aria-label="interactions menu" class="md-icon-button navbar-user-icon bg-{{vm.getColor()}}-user" ng-click="vm.openMenu($mdOpenMenu, $event)">
                {{vm.getInitial()}}
            </md-button> -->            
            <md-button class="margin-0 md-icon-button" aria-label="Más" ng-click="vm.openMenu($mdOpenMenu, $event)">
                <md-tooltip>Más opciones</md-tooltip>
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content class="navbar-options">
                <md-menu-item>
                    <md-button ng-click="vm.profile()">
                        <i class="md-icon">account_circle</i> Mi cuenta
                    </md-button>
                </md-menu-item>
                <!-- <md-menu-item>
                    <md-button ng-click="vm.settings()">
                        <i class="md-icon">settings applications</i> Configuraciones
                    </md-button>
                </md-menu-item> -->
                <!-- <md-menu-divider></md-menu-divider> -->
                <md-menu-item style="width: 200px;">
                    <md-button ng-click="vm.logout()">
                        <i class="md-icon">power_setting_new</i> Salir
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button class="md-icon-button" aria-label="More" style="display: none">
            <i class="md-icon">more_vert</i>
        </md-button>
    </div>
</md-toolbar>
