acme-navbar {
  
	md-toolbar {
		background-color: $colorPrimary !important;

		.navbar-user-name {
			font-size: 1rem;
			text-align: right;
		}
		.md-button.navbar-user-icon {			
			border: 2px solid white;
			font-size: 1.8rem;
			height: 48px;
			line-height: 32px;
			margin-left: 15px;
			text-align: center;
			width: 48px;
			.md-icon {
				font-size: 2.6rem;
			}
		}
		
	}
}
.navbar-options {
	.md-icon {
		float: left;
		margin: 5px 10px 0 0;
	}
}

@media (min-width: $minWidth) {
	acme-navbar {
	    left: 0;
	    padding-left: $widthSidenav;
	    position: fixed;
	    right: 0;
	    top: 0;
	    z-index: 100;
	}
}

.fullscreen {
	.tooltip-fullscreen {
		.exit {
			display: inline;
		}
	}
	.btn-fullscreen {
		md-icon:first-child {
			display: none;
		}	
		md-icon:first-child + md-icon{
			display: inline;
		}	
	}
}
.btn-fullscreen {
	md-icon:first-child + md-icon{
		display: none;
	}	
}
.tooltip-fullscreen {
	.exit {
		display: none;
	}
}