<div class="profile">
	<div class="profile-user-bg">
		<div class="profile-user-photo bg-{{profile.getColor()}}-user">
			<img src="" alt="" hidden>
	    	<!-- <i class="md-icon">account_circle</i> -->
	    	{{profile.getInitial()}}
		</div>
		<div class="profile-data">
			<h2 class="profile-user-name">{{profile.getName()}}</h2>
	    	<h3 class="profile-user-item">{{profile.getEmail()}}</h3>
			<ul class="profile-user-data">
				<li>
					<span class="profile-data-number">10</span>
					<span class="profile-data-details">Minutos atrasados</span>
				</li>
				<li>
					<span class="profile-data-number">20</span>
					<span class="profile-data-details">Minutos restantes de tolerancia</span>
				</li>
				<li>
					<span class="profile-data-number">2</span>
					<span class="profile-data-details">Permisos en el año</span>
				</li>
			</ul>
		</div>
	</div>	
	<div class="profile-statistics" layout="row">
		<div class="profile-char" flex>
			<div class="profile-char-graph" ng-controller="LineController">
        		<canvas id="line2" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
        	      		chart-click="onClick" chart-hover="onHover" chart-series="series"></canvas>
      		</div>
		</div>
		<div class="profile-char text-left" flex>
			<p><strong>Nombre de usuario: </strong>{{profile.getData('username')}}</p>
			<p><strong>Nombre(s): </strong>{{profile.getData('first_name')}}</p>
			<p><strong>Apellido(s): </strong>{{profile.getData('last_name')}}</p>
			<p><strong>Correo electrónico: </strong>{{profile.getData('email')}}</p>
			<p><strong>Último login: </strong>{{profile.getData('last_login')}}</p>
			<p><strong>Activo desde: </strong>{{profile.getData('date_joined')}}</p>
		</div>
	</div>		
</div>