<div class="container">
  <md-card ng-controller="CalFeriadoController">
    <md-toolbar class="md-table-toolbar">
      <div class="md-toolbar-tools text-left">
        <md-icon>hourglass_full</md-icon> <span>Sincronizar con el servidor</span>
        <div flex>
          <div class="text-right" ng-if="sincronizar.ultima"><small><strong>Última sincronización: </strong>{{sincronizar.ultima}}</small></div>
        </div>
        <md-button class="md-icon-button btn-collapsed" ng-click="">
          <md-tooltip>Colapsar</md-tooltip>
          <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content>
    	<p>Debe sincronizar con el servidor para obtener los datos actualizados del biométrico</p>
      <md-button class="md-raised md-primary" ng-click="sincronizar.sincronizar()">
        <md-icon>hourglass_full</md-icon> Sincronizar ahora
      </md-button>
      <md-checkbox ng-model="sincronizar.fecha" aria-label="Desde una fecha específica" style="margin-left: 20px;">
        Desde una fecha específica
      </md-checkbox>
      <md-datepicker ng-model="sincronizar.desde" md-placeholder="Fecha" ng-if="sincronizar.fecha" md-max-date="sincronizar.maxDate"></md-datepicker>
      <div class="alert alert-info" ng-if="sincronizar.fecha">
        <p><strong>Nota.-</strong> Esta opción le permite sincronizar las marcaciones desde una fecha específica para casos como:</p>
        <ul>
          <li>Cuando designo un horario especial(Horario continuo, Horario de lactancia, etc) después de la fecha en la que se designó el rango de fechas de ese horario designado.</li>
        </ul>
      </div>      
    </md-card-content>
  </md-card>
  <md-card ng-if="sincronizar.listEmpty">
  	<md-toolbar class="md-table-toolbar">
	    <div class="md-toolbar-tools text-left">
	      <md-icon>grid_on</md-icon> <span>Últimos registros sincronizados</span>
	      <div flex></div>
	      <md-button class="md-icon-button btn-collapsed" ng-click="">
	        <md-tooltip>Ocultar/mostrar panel</md-tooltip>
	        <md-icon>keyboard_arrow_down</md-icon>
	      </md-button>
	    </div>
	  </md-toolbar>
  	<md-card-content>
  		<div class="table-responsive">
    		<table class="table table-striped table-hovered">
    			<tr>
    				<th class="text-left">Nro.</th>
    				<th class="text-left">Fecha</th>
    				<th class="text-left">Usuario</th>
    				<th class="text-left">Hora(s) de marcado</th>
    			</tr>
    			<tr ng-repeat="item in sincronizar.items">
    				<td>{{$index + 1}}</td>
    				<td>{{item.fecha}}</td>
    				<td>{{item.uid}}</td>
    				<td>
    					<ul class="list-square">
    						<li ng-repeat="data in item.registros">{{data.hora}}</li>
    					</ul>
    				</td>
    			</tr>
    		</table>
  		</div>
  	</md-card-content>
  </md-card>
</div>