.chosen-container-multi .chosen-choices {
	background-image: none;
    border: medium none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    font-size: 0.9rem;
    padding: 3px 14px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	font-family: "Poppins";
}

.chosen-container.chosen-with-drop .chosen-drop {
	left: 8px;
	width: 98%;
	margin-top: -7px;
}

.chosen-container-multi .chosen-drop .result-selected,
.chosen-container .chosen-results li.active-result {
	padding: 10px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    border-radius: 0;
    padding: 8px 24px 8px 10px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 9px;
    width: 15px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 34px;	
}
.chosen-container.chosen-container-multi {
    width: 796px !important;
    // margin-bottom: 20px;
}

// .formly > .formly-field:first-child + .formly-field {
//     width: 100%;
// }
// 
md-input-container {
    padding: 0;
}