<div class="container">
  <crud-table url="designacionHorarios.url" 
    title-table="designacionHorarios.title" 
    template="designacionHorarios.template" 
    fields="designacionHorarios.fields" 
    formly="designacionHorarios.formly" 
    column="designacionHorarios.column" 
    dialog-controller="designacionHorarios.dialogController" 
    fks="designacionHorarios.fks">
  </crud-table>
</div>