<div class="container">
  <crud-table url="sugerencia.url" 
    title-table="sugerencia.title" 
    template="sugerencia.template" 
    fields="sugerencia.fields" 
    formly="sugerencia.formly" 
    column="sugerencia.column" 
    dialog-controller="sugerencia.dialogController" 
    fks="sugerencia.fks">
  </crud-table>
</div>