<div class="container">
    <md-card>
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>grid_on</md-icon> <span>Reporte consolidado de asistencia</span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <form>
                <div class="form-control">
                    <label>Rango de Fechas: </label>
                    <md-datepicker ng-model="consolidado.desde" md-placeholder="Desde"></md-datepicker>
                    <md-datepicker ng-model="consolidado.hasta" md-placeholder="Hasta"></md-datepicker>
                    <md-button class="md-raised md-primary" ng-click="consolidado.consultar()" ng-hide="true">
                        <md-icon>check</md-icon> Ver reporte
                    </md-button>
                    <!-- <md-button class="md-raised" ng-click="consolidado.nuevo()" ng-if="consolidado.tableEmpty">
                    <md-icon>new</md-icon> Nuevo reporte
                    </md-button> -->
                    <md-input-container style="width: 350px">
                        <label>Seleccione el tipo de archivo para descargar</label>
                        <md-select ng-model="consolidado.tipo">
                            <md-option ng-repeat="item in consolidado.tipos" value="{{item.value}}">
                                {{item.text}}
                            </md-option>
                        </md-select>                                    
                    </md-input-container>
                    <!-- <md-file-download url="consolidado.urlFile" type="consolidado.typeFile" filename="consolidado.filenameFile"></md-file-download> -->
                    <md-button class="md-raised md-primary" ng-click="consolidado.descargar()">
                        <md-icon>file_download</md-icon> Descargar
                    </md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
    <md-card ng-if="consolidado.tableEmpty">
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>grid_on</md-icon> <span>Asistencia</span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="table-responsive table-horario">
                <table class="table table-striped table-hovered">
                    <thead>
                    	<tr>
                    	    <th ng-repeat="header in consolidado.headers track by $index">{{header}}</th>
                            <th></th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="item in consolidado.report">
                    	    <td ng-repeat="data in item track by $index">
                    	    	<div ng-if="$index < item.length - 1">
                    	    		{{data}}
                    	    	</div>
                    	    	<div ng-if="$index == item.length - 1">
                    	    		<strong style="white-space: nowrap;">{{data | datetime: 'timeLiteral'}}</strong>
                    	    	</div>
                    	    </td>
                    	</tr>
                    </tbody>
                </table>
            </div>
        </md-card-content>
    </md-card>
</div>

<div class="table-responsive" style="overflow-y: auto; max-height: 400px;">
    <table>
        ...
    </table>
</div>