.table-horario {
    td {        
        font-size: 0.8rem !important;
        vertical-align: middle !important;
    }
    .horario-desc {
        font-size: .7rem !important;
    }
    .horario-retraso, .asistencia-retraso {
        background-color: lighten($colorInfo, 45%) !important;
        font-size: .7rem !important;
        font-weight: 500;
        line-height: 0.8rem;
    }
    .sin-horario {
        background-color: lighten($colorWarning, 45%) !important;
        font-size: .7rem !important;
        font-weight: 500;
    } 
    .horario-feriado {
        background-color: lighten($colorPrimary, 78%) !important;
        font-size: .7rem !important;
        font-weight: 500;
    } 
    .horario-permiso {
        background-color: #ffefdb;
        border: 1px solid #ffe3c2;
        color: #804600;
        font-size: .7rem !important;
        font-weight: 500;
        line-height: 0.8rem;
    }
    .no-marco {
        background-color: #ddd !important;
        font-size: .7rem !important;
        font-weight: 500;
    }
}
.detalle {
    label {
        display: inline-block;
        font-weight: 600;
        width: 200px;
    }

    h3 {
        text-align: center;
        color: $colorInfo;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0;
    }

    p {
        margin: 0 0 6px;
    }
}

.profile {
    .profile-user-bg {
        background-image: url("../assets/images/bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .profile-user-photo {
        border: 5px solid white;
        border-radius: 50%;
        color: white;
        font-size: 5rem;
        height: 120px;
        line-height: 124px;
        margin: 30px auto 10px;
        position: relative;
        text-align: center;
        width: 120px;

        .md-icon {
            display: block;
            font-size: 9rem;
            left: -12px;
            position: absolute;
            top: -12px;
        }
    }

    md-tabs {
        md-tabs-canvas {
            background-color: $colorPrimary;

            md-tab-item {
                color: #888 !important;

                md-icon {
                    color: #888 !important;
                }
                &.md-active {
                    color: white !important;
                    md-icon {
                        color: white !important;
                    }
                }
            }

            md-ink-bar {
                background-color: white !important;
            }
        }
        &[md-border-bottom] md-tabs-wrapper {
            border: none;           
        }
    }

    .profile-data {     
        margin: 0 auto;
        max-width: 80%;
        padding: 25px;

        .profile-user-name {
            color: white;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.3rem;
            margin: 0;
            text-align: center;
        }
        .profile-user-item {
            color: lighten($colorSuccess, 30%);
            font-size: 1rem;
            font-weight: 400;
            margin: 0 0 15px;
            text-align: center;
        }
        .profile-user-data {
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                background-color: rgba(255, 255, 255, 0.8);
                color: white;
                display: inline-block;
                margin: 3px;
                padding: 15px;
                vertical-align: top;

                .profile-data-number {
                    color: $colorWarning;
                    display: block;
                    font-size: 1.9rem;
                    line-height: 1.8rem;
                    margin-bottom: 3px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
                }
                .profile-data-details {
                    display: block;
                    font-size: 0.75rem;
                    line-height: 0.9rem;
                    color: #111;
                }
            }
        }
    }

    .profile-statistics {
        background-color: white;
        border-bottom: 1px solid #eee;
    }

    .profile-char {
        border-right: 1px solid #eee;
        padding: 25px;
        text-align: center;

        .chart-container {
            max-width: 600px;
            margin: 0 auto;
        }
        h4 {
            font-weight: 500;
        }

        p {
            margin: 0 0 5px;
        }
    }
}

@media (max-width: 768px) {
    breadcrumb {
        display: none;
    }
    .profile {
        md-tabs {
            md-tabs-canvas {
                md-tab-item {
                    span {
                        display: none;
                    }
                }
            }
            md-tabs-wrapper {
                md-prev-button, md-next-button {
                    display: none;
                }
            }
            md-tabs-canvas.md-paginated {
                margin: 0;
            }
        }

        .profile-data {
            max-width: 100%;
            padding: 20px 10px;
        }

        .profile-user-bg {
            background-size: auto 100%;
        }

        .md-primary.md-button.md-raised {
            margin: 0;
            width: 100%;
        }
        .md-padding {
            padding: 0;
        }
        
    }
    .md-table-toolbar {
        .md-toolbar-tools > span {
            font-size: 1rem;
            line-height: 1.1rem;
        }
    }

    md-dialog {
        margin-left: 10px;
        margin-right: 10px;
        min-width: auto !important;
    }

    .formly-column-2 .formly-field {
        width: 100%;
    }

    .no-login .logo-agetic {
        margin-top: 10px;
    }

    .main .container {
        padding: 0 !important;
    }
    .crud-table-filter {
        font-size: 0.9rem;
    }
}

// Vacaciones
.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }

.tipo-vacacion {
    margin-bottom: 15px !important;
    label {
        display: inline-block;
        width: 150px;
    }
}
.ng-visibility-hidden {
    visibility: hidden;
}
.feriados-header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    h3 {
        font-weight: 500;
        line-height: 40px;
        margin: 0;
        padding: 0 0 0 15px;

        span {
            margin-left: 5px;
        }
    }

    &.alert.alert-info {
        padding: 0;
        margin: 15px 0 0;
    }
}

@for $i from 1 through 100 {
  .width-#{$i},
  .width-#{$i} md-input-container { 
    width: 0% + $i;
  }
}

table.table-scroll {
  width: 100%;
  border-spacing: 0;
  box-sizing: border-box;

  p {
    margin: 0;
  }

  thead, tbody, tr, th, td { 
    box-sizing: border-box;
    display: block; 
  }

  thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
  }

  tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  tbody {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  tbody td, thead th {
    float: left;
  }
}