<md-dialog aria-label="Imprimir" ng-cloak class="formly-dialog formly-column-1">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><md-icon>schedule</md-icon> {{title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button md-toast-button-close" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
                <md-tooltip>Cerrar</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>        
        <div class="md-dialog-content">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-right">Nro.</th>
                        <th class="text-center">Hora</th>
                        <th class="text-center">Dispositivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data">
                        <td class="text-right">{{ $index + 1 }}</td>
                        <td class="text-center">{{ item.hora }}</td>
                        <td class="text-center">{{ item.dispositivo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
</md-dialog>