<md-dialog aria-label="Agregar/Editar" class="formly-dialog formly-column-2">
    <form ng-submit="answer('save')" id="data-form" name="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button md-toast-button-close" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding class="formly-permiso"> 
                    <div class="alert alert-info">
                        <md-icon>info_outline</md-icon> <strong>Fecha de asignación de Item: {{ data.fecha_asignacion }}</strong> 
                    </div>
                    <div class="alert alert-info">
                        <md-icon>info_outline</md-icon> <strong>Tiempo disponible: {{ data.dias_disponibles }} días.</strong> 
                    </div>
                    <div class="formly-field tipo-vacacion">
                        <md-radio-group ng-model="data.tipo_vacacion" layout required>
                            <label>Tipo de vacación: </label> 
                            <md-radio-button value="completo">Por día</md-radio-button>
                            <md-radio-button value="medio">Medio día</md-radio-button>
                            <!-- <md-radio-button value="horas">Por Horas</md-radio-button> -->
                        </md-radio-group>
                    </div>
                    <!-- <div class="formly-field tipo-vacacion" ng-if="data.tipo_vacacion == 'medio'">
                        <md-radio-group ng-model="data.turno" layout required>
                            <label>Turno: </label> 
                            <md-radio-button value="turno1">Mañana</md-radio-button>
                            <md-radio-button value="turno2">Tarde</md-radio-button>
                        </md-radio-group>
                    </div> -->
                    <div layout-gt-sm="row">
                        <div flex class="formly">
                            <div class="formly-field">
                                <input type="hidden" ng-model="data.id">
                            </div>
                            <div class="md-datepicker-container">
                                <label>Fecha <span ng-hide="data.tipo_vacacion == 'horas'">de inicio</span></label>
                                <md-datepicker md-min-date="minDate" md-max-date="maxDate" md-date-filter="diasLaborales" ng-model="data.fecha_ini" md-placeholder="dd/mm/aaaa" required></md-datepicker>
                            </div>

                            <!-- <div class="md-datepicker-container" ng-show="data.tipo_vacacion == 'horas'">
                                <label>Hora de inicio</label>
                                <time-date-picker ng-model="data.hora_ini" display-mode="time" class="modal-content" required></time-date-picker>
                            </div> -->
                            <div class="formly-field">
                                <md-input-container>
                                    <label>Jefe responsable</label>
                                    <md-select ng-model="data.jefe"
                                    md-on-close="clearSearchTerm()"
                                    data-md-container-class="selectdemoSelectHeader"
                                    required>
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm"
                                            type="search"
                                            placeholder="Busque un responsable.."
                                            class="demo-header-searchbox md-text md-search" 
                                            autocomplete="off">
                                        </md-select-header>
                                
                                        <md-optgroup label="jefes">
                                            <md-option ng-value="{{option.value}}" ng-repeat="option in jefes | filter:searchTerm">{{option.name}}</md-option>
                                        </md-optgroup>
                                
                                    </md-select>
                                </md-input-container>
                            </div>                                                        
                        </div>

                        <div flex>
                            <div class="md-datepicker-container" ng-class="{ 'ng-visibility-hidden': data.tipo_vacacion == 'horas' }">
                                <label>Fecha de fin</label>
                                <md-datepicker md-min-date="data.fecha_ini || minDate" md-max-date="maxDate" md-date-filter="diasLaborales" ng-model="data.fecha_fin" md-placeholder="dd/mm/aaaa" required></md-datepicker>
                            </div>

                            <!-- <div class="md-datepicker-container" ng-show="data.tipo_vacacion == 'horas'">
                                <label>Hora de fin</label>
                                <time-date-picker ng-model="data.hora_fin" display-mode="time" class="modal-content" required></time-date-picker>
                            </div> -->
                            <div class="formly-field">
                                <md-input-container>
                                    <label>Unidad organizacional</label>
                                    <md-select ng-model="data.unidad_organizacional"
                                               md-on-close="clearSearchTerm2()"
                                               data-md-container-class="selectdemoSelectHeader"
                                               required>
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm2"
                                            type="search"
                                            placeholder="Busque una unidad.."
                                            class="demo-header-searchbox md-text md-search" 
                                            autocomplete="off">
                                        </md-select-header>
                                
                                        <md-optgroup label="unidades">
                                            <md-option ng-value="{{option.value}}" ng-repeat="option in keys['unidad_organizacional'].templateOptions.options | filter:searchTerm2">{{option.name}}</md-option>
                                        </md-optgroup>
                                
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>

                    </div>
                    <div class="feriados-header alert alert-info">
                        <h3 layout>
                            <md-icon>grid_on</md-icon> <span>Feriados Gestión {{ data.gestion_vacacion }}</span>
                            <div flex></div>
                            <md-button class="md-icon-button btn-collapsed rotate">
                                <md-tooltip>Colapsar</md-tooltip>
                                <md-icon>keyboard_arrow_down</md-icon>
                            </md-button>
                        </h3>
                    </div>
                    <table class="table table-hover table-striped table-scroll">
                        <thead>
                            <tr>
                                <th class="width-10">Nro.</th>
                                <th class="width-30">Día</th>
                                <th class="width-60">Feriado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in feriados">
                                <td class="width-10 text-right">{{ $index + 1 }}</td>
                                <td class="width-30 text-center">{{ key | date:'dd/MM/yyyy' }}</td>
                                <td class="width-60">
                                    <p ng-repeat="item in value">{{ item.nombre }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                <md-icon>cancel</md-icon> Cancelar
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
                <md-icon>check</md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>