<div class="profile">
  <!-- <md-card> -->
    <md-tabs md-dynamic-height md-border-bottom md-selected="main.selectedIndex">
      <md-tab>
        <md-tab-label flex>
          <md-icon>person</md-icon> <span>Mis datos personales</span>
        </md-tab-label>
        <md-tab-body>
          <div class="profile-user-bg">
            <!-- <div class="profile-user-photo bg-{{main.getColor()}}-user">
              <img src="" alt="" hidden>            
              {{main.getInitial()}}
            </div> -->
            <div class="profile-data">
              <h2 class="profile-user-name">{{main.getName()}}</h2>
              <h3 class="profile-user-item">{{main.getEmail()}}</h3>
              <ul class="profile-user-data" layout-gt-xs="row" layout-xs="column">
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.total_atrasos_mes}}</span>
                    <span class="profile-data-details" flex-xs>Atrasados este mes</span>
                  </div>
                </li>
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.total_restante_mes}}</span>
                    <span class="profile-data-details" flex-xs>Restantes de tolerancia este mes</span>
                  </div>
                </li>
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.total_comision}}</span>
                    <span class="profile-data-details" flex-xs>Comisione(s) este mes</span>
                  </div>
                </li>
                <!-- <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.total_particular}}</span>
                    <span class="profile-data-details" flex-xs>Permisos Particulares este mes</span>
                  </div>
                </li> -->
              </ul>
              <ul class="profile-user-data" layout-gt-xs="row" layout-xs="column">
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.total_licencia}}</span>
                    <span class="profile-data-details" flex-xs>Licencia(s) este año</span>
                  </div>
                </li>
                <!-- <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.particular_usado_mes}}</span>
                    <span class="profile-data-details" flex-xs>De permisos particulares usados</span>
                  </div>
                </li>
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.particular_restante_mes}}</span>
                    <span class="profile-data-details" flex-xs>Restantes de permisos particulares este mes</span>
                  </div>
                </li> -->
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.licencia_usado_mes}}</span>
                    <span class="profile-data-details" flex-xs>De licencia(s) usados</span>
                  </div>
                </li>
                <li flex>
                  <div layout-xs="row">
                    <span class="profile-data-number" flex-xs="30">{{main.licencia_restante_year}}</span>
                    <span class="profile-data-details" flex-xs>Restantes de licencia(s) este año</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <md-content>
            <div class="profile-statistics" layout-gt-xs="row" layout-xs="column">
              <div class="profile-char text-left" flex="40" hide-xs>
                <p><strong>Nombre de usuario: </strong>{{main.getData('username')}}</p>
                <p><strong>Nombre(s): </strong>{{main.getData('first_name')}}</p>
                <p><strong>Apellido(s): </strong>{{main.getData('last_name')}}</p>
                <p><strong>Correo electrónico: </strong>{{main.getData('email')}}</p>
                <p><strong>C.I.: </strong>{{main.getData('ci')}}</p>
                <p><strong>Nro. de Item: </strong>{{main.getData('nro_item')}}</p>
                <p><strong>Fecha de asignación del Item: </strong>{{main.getData('fecha_asignacion')}}</p>
                <p><strong>Cargo: </strong>{{main.getData('cargo')}}</p>
                <p><strong>Unidad de dependencia: </strong>{{main.getData('unidad_dependencia')}}</p>
                <p><strong>CAS: </strong>{{main.getData('CAS')}}</p>
              </div>
              <div class="profile-char" flex>
                <h4 class="margin-0">Atrasos mes de {{main.month}}</h4>
                <div class="profile-char-graph">
                  <canvas id="line2" class="chart chart-line" 
                      chart-data="main.data" 
                      chart-labels="main.labels" 
                      chart-legend="true"
                      chart-series="main.series">
                  </canvas>
                </div>
              </div>
            </div>
          </md-content>          
        </md-tab-body>
      </md-tab>

      <!-- Mi asistencia -->
      <md-tab>
        <md-tab-label flex>
          <md-icon>watch_later</md-icon> <span>Mi asistencia</span>
        </md-tab-label>        
        <md-tab-body>
          <md-content class="md-padding detalle">
            <form>
              <div class="form-control">
                <label>Rango de Fechas: </label>
                <md-datepicker ng-model="main.desde" md-placeholder="Desde"></md-datepicker>
                <md-datepicker ng-model="main.hasta" md-max-date="main.maxDate" md-placeholder="Hasta"></md-datepicker>           
                <md-checkbox ng-model="main.retraso" aria-label="ver retraso" style="margin-left: 15px;">Ver solo retrasos</md-checkbox>
                <md-button class="md-raised md-primary" ng-click="main.consultar()">
                  <md-icon>check</md-icon> Ver reporte
                </md-button>
              </div>
            </form>
            <md-card ng-if="main.tableEmpty">
              <md-toolbar class="md-table-toolbar">
                <div class="md-toolbar-tools text-left">
                  <md-icon>grid_on</md-icon> <span>Mi asistencia</span>
                  <div flex></div>
                  <md-button class="md-icon-button" ng-click="main.imprimir()">
                    <md-tooltip>Imprimir Reporte</md-tooltip>
                    <md-icon>print</md-icon>
                  </md-button>
                  <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Abrir/cerrar panel</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                  </md-button>
                </div>
              </md-toolbar>
              <md-card-content>
                <div class="table-responsive" id="mi-asistencia">              
                  <style>
                    .print-detalles {
                      display: none;
                    }
                    @media print {
                      body {
                        font: 10px Arial, Helvetica, sans-serif, serif;                      
                      }
                      h1 {
                        font-size: 16px;
                        margin: 0 0 10px;
                        text-align: center;
                      }
                      .table {
                        border-collapse: collapse;
                        border: 1px solid #333;
                        width: 100%;
                      }
                      .table th, .table td {
                        border: 1px solid #333;
                        padding: 3px 5px;                      
                      }
                      .text-right {
                        text-align: right;
                      }
                      .print-detalles {
                        display: block;
                      }
                      .none-print {
                        display: none;
                      }
                    }
                  </style>
                  <div class="print-detalles">
                    <h1>Reporte de asistencia</h1>
                    <table style="margin-bottom: 10px;">
                      <tr>
                        <td><strong>Funcionario</strong>: {{main.getName()}}</td>
                      </tr>
                      <tr>
                        <td><strong>Reporte del {{main.desde | date:'dd/MM/yyyy'}} al {{main.hasta | date:'dd/MM/yyyy'}}</strong></td>
                      </tr>
                      <tr>
                        <td>Fecha y Hora del reporte: <span id="hora-reporte"></span></td>
                      </tr>
                    </table>
                  </div>
                  <div class="alert alert-info">
                    <strong>Tipos de permiso:</strong> <strong>L</strong> = Licencia, <strong>C</strong> = Comisión, <strong>P</strong> = Particular.
                  </div>
                  <table class="table table-striped table-hovered table-horario">
                    <thead>
                      <tr>
                        <th colspan="2"></th>
                        <th colspan="3">1er. Periodo</th>
                        <th colspan="3">2do. Periodo</th>
                        <th colspan="2">Obs. 1er. Periodo</th>
                        <th colspan="2">Obs. 2do. Periodo</th>
                      </tr>
                      <tr>
                        <th colspan="2">Fecha</th>
                        <th>Horario</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Horario</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th class="none-print">Marcaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in main.report" class="{{item.sin_horario}}" ng-if="!main.retraso || (main.retraso && item.retraso)">
                        <td class="text-center">{{item.dia}}</td>
                        <td class="text-center">{{item.fecha}}</td>
                        <td class="text-center horario-desc" ng-bind-html="item.horario1"></td>
                        <td class="text-center">{{item.entrada1}}</td>
                        <td class="text-center">{{item.salida1}}</td>
                        <td class="text-center horario-desc" ng-bind-html="item.horario2"></td>
                        <td class="text-center">{{item.entrada2}}</td>
                        <td class="text-center">{{item.salida2}}</td>
                        <td class="text-center {{ main.getClass(item.permiso, item.entrada1_obs) }}" ng-bind-html="item.entrada1_obs"></td>
                        <td class="text-center {{ main.getClass(item.permiso, item.salida1_obs) }}" ng-bind-html="item.salida1_obs"></td>
                        <td class="text-center {{ main.getClass(item.permiso, item.entrada2_obs) }}" ng-bind-html="item.entrada2_obs"></td>
                        <td class="text-center {{ main.getClass(item.permiso, item.salida2_obs) }}" ng-bind-html="item.salida2_obs"></td>
                        <td class="text-center none-print">
                          <md-button class="md-icon-button" ng-click="main.verMarcaciones($event, main.user.username, item.fecha)">
                            <md-icon>schedule</md-icon><md-tooltip>Ver todas las marcaciones del día</md-tooltip>
                          </md-button>
                        </td>
                      </tr>
                    </tbody>
                    <tfooter>
                      <tr>
                        <td colspan="13" class="text-right">
                          <strong>Total atrasos: </strong> {{main.total_atrasos}}
                        </td>
                      </tr>
                    </tfooter>
                  </table>
                </div>
              </md-card-content>
            </md-card>
          </md-content>
        </md-tab-body>
      </md-tab>

      <!-- Mis permisos -->
      <md-tab>
        <md-tab-label flex>
          <md-icon>assignment</md-icon> <span>Mis permisos</span>
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding detalle">
            <form>
              <div class="form-control">
                <label>Rango de Fechas: </label>
                <md-datepicker ng-model="main.desdeP" md-placeholder="Desde"></md-datepicker>
                <md-datepicker ng-model="main.hastaP" md-max-date="main.maxDate" md-placeholder="Hasta"></md-datepicker>
                <md-button class="md-raised md-primary" ng-click="main.obtenerPermisos()">
                  <md-icon>check</md-icon> Ver permisos
                </md-button>
              </div>
            </form>
            <md-card>
              <md-toolbar class="md-table-toolbar">
                <div class="md-toolbar-tools text-left">
                  <md-icon>grid_on</md-icon> <span>Mis permisos</span>
                  <div flex></div>
                  <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                  </md-button>
                </div>
              </md-toolbar>
              <md-card-content>
               <!--  <div class="btn-container">
                  <md-button class="md-fab md-primary" ng-click="main.add($event)" aria-label="Add">
                    <md-tooltip>Agregar nuevo permiso</md-tooltip>
                    <md-icon>add</md-icon>
                  </md-button>
                </div> -->
                <div class="alert alert-info">
                  <strong>Tipos de permiso:</strong> <strong>L</strong> = Licencia, <strong>C</strong> = Comisión, <strong>P</strong> = Particular.
                </div>
                <div class="table-responsive">
                  <table ng-if="main.permisos.length" class="table table-striped table-hovered table-horario">
                    <thead>
                      <tr>
                        <th>Nro.</th>
                        <th>Acciones</th>
                        <th>Tipo de permiso</th>
                        <th class="text-left">Fecha y Hora</th>
                        <th class="text-left">Estado</th>
                        <th>Detalles</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="item in main.permisos">
                      <tr>
                        <td class="text-right">{{item.id}}</td>
                        <td class="text-center md-table-options">
                            <md-button class="md-icon-button" aria-label="Editar" ng-click="main.edit($event, item.id)" ng-if="item.estado == 'creado'">
                                <md-tooltip>Editar</md-tooltip>
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Editar" ng-click="main.print($event, item.id)" ng-if="item.estado != 'rechazado'">
                                <md-tooltip>Imprimir</md-tooltip>
                                <md-icon>print</md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-accent" aria-label="Eliminar" ng-click="main.delete($event, item.id)" ng-if="item.estado == 'creado'">
                                <md-tooltip>Eliminar</md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                        <td class="text-center">{{main.lang.permisos[item.tipo_permiso]}}</td>
                        <td>
                          <span>{{ item.tipo_permiso == 'particular' ? 'El' : 'Del' }} {{item.fecha_ini | date:'dd/MM/yyyy'}}</span>
                          <span> {{ item.tipo_permiso == 'particular' ? 'de' : 'a' }} Hrs. {{item.hora_ini | datetime:'HH:mm'}}</span><br ng-if="item.tipo_permiso != 'particular'">
                          <span ng-if="item.tipo_permiso != 'particular'">Al {{item.fecha_fin | date:'dd/MM/yyyy'}}</span>
                          <span> a {{ item.tipo_permiso == 'particular' ? '' : 'Hrs.' }} {{item.hora_fin | datetime:'HH:mm'}}</span>
                        </td>
                        <td>
                          <md-icon class="bg-{{item.estado == 'aprobado_jefe' || item.estado == 'aprobado_rrhh' ? 'success' : item.estado == 'rechazado' ? 'danger' : 'gray'}}">{{item.estado == 'rechazado' ? 'cancel' : 'check_circle'}}</md-icon> 
                          {{main.lang.estado[item.estado]}}
                        </td>
                        <td class="text-center">
                          <md-button ng-click="main.verDetalle($index)" 
                                 class="btn-toggle-detalle" 
                                 data-btn-toggle="{{$index}}">Ver detalle</md-button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding: 0; border-top: none; border-bottom: none;">
                          <div style="display: none; padding: 15px 20px 10px;" class="toggle-detalle" data-toggle="{{$index}}">
                            <p><label>Unidad:</label> {{item.unidad_organizacional}}</p>
                            <p ng-if="item.tipo_permiso != 'particular'"><label>Motivo:</label> {{item.motivo}}</p>
                            <p ng-if="item.tipo_permiso == 'licencia'"><label>Respaldo:</label> {{item.licencia_respaldo}}</p>
                            <p ng-if="item.tipo_permiso == 'comision'"><label>Lugar de Comisión:</label> {{item.comision_lugar}}</p>
                            <p><label>Jefe responsable:</label> {{item.jefe}}</p>
                            <p><label>Fecha de creación:</label> {{item.fecha_registro | date:'dd/MM/yyyy hh:mm'}}</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div ng-if="!main.permisos.length" class="alert alert-danger">
                    <md-icon>warning</md-icon> No tiene permisos en el rango de fechas seleccionado.
                  </div>
                </div>
              </md-card-content>
            </md-card>
            
          </md-content>
        </md-tab-body>
      </md-tab>

      <!-- Mis vacaciones -->
      <md-tab>
        <md-tab-label flex>
          <md-icon>mood</md-icon> <span>Mis vacaciones</span>
        </md-tab-label>
        <md-tab-body>          
          <md-content class="md-padding">
            <md-card>
              <md-toolbar class="md-table-toolbar">
                <div class="md-toolbar-tools text-left">
                  <md-icon>grid_on</md-icon> <span>Mis vacaciones {{ main.gestion_vacacion }} </span>
                  <div flex></div>
                  <md-button class="md-icon-button" ng-click="main.imprimirCalendario($event)">
                    <md-tooltip md-direction="left">Imprimir Mi calendario de vacaciones</md-tooltip>
                    <md-icon>print</md-icon>
                  </md-button>
                  <md-button class="md-icon-button btn-collapsed">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                  </md-button>
                </div>
              </md-toolbar>
              <md-card-content>
                <div class="btn-container" ng-if="!main.sin_fecha && main.dias_disponibles > 0">
                  <md-button class="md-fab md-primary" ng-click="main.agregarVacacion($event)" aria-label="Add">
                    <md-tooltip direction="right">Agregar nuevo rango de vacacion</md-tooltip>
                    <md-icon>add</md-icon>
                  </md-button>
                </div>
                <div class="alert alert-danger" ng-if="main.sin_fecha">
                  <md-icon>error</md-icon> Necesita tener registrada la <strong>fecha de asignación de su item</strong> para poder solicitar sus vacaciones. Contactese con el administrador del sistema.
                </div>
                <div class="alert alert-info">
                  <md-icon>info_outline</md-icon> <strong>Instrucciones: </strong> Puede realizar varias solicitudes de rangos de fechas para vacación de acuerdo al tiempo disponible que tenga asignado, solo se consideran días hábiles para tal efecto. La aprobación de los mismos los realiza su jefe inmediato superior el cual puede aprobar o pedir que se reprograme su rango de fechas solicitado si es que dicho rango tiene muchos conflictos con rangos de fechas de otros funcionarios.
                </div>
                <div class="alert alert-info">
                  <strong>Tipo de vacación:</strong> <strong>D</strong> = Día completo, <strong>M</strong> = Medio día.
                </div>
                <div class="alert alert-{{ main.dias_disponibles == 0 ? 'danger' : 'info' }}">
                  <md-icon>{{ main.dias_disponibles == 0 ? 'warning' : 'info_outline' }}</md-icon> <strong>Tiempo disponible: {{ main.dias_disponibles }} días.</strong> <span ng-if="main.dias_disponibles == 0">Ya no tiene días disponibles para pedir su vacación.</span>
                </div>
                <div class="alert alert-danger" ng-if="main.vacaciones.length == 0">
                  <md-icon>warning</md-icon> No tiene ninguna fecha de vacación registrada.
                </div>                
                <div class="table-responsive" ng-if="main.vacaciones && main.vacaciones.length">
                  <table class="table table-striped table-hovered table-horario">
                    <thead>
                      <tr>
                        <th>Acciones</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Tipo vacación</th>
                        <th>Unidad organizacional</th>
                        <th>Jefe</th>
                        <!-- <th>Fecha de registro</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="vacacion in main.vacaciones">
                        <td class="text-center md-table-options">
                          <md-button class="md-icon-button" aria-label="Editar" ng-click="main.editarVacacion($event, vacacion.id)" ng-if="vacacion.estado == 'creado' || vacacion.estado == 'rechazado'">
                              <md-tooltip>Editar</md-tooltip>
                              <md-icon>mode_edit</md-icon>
                          </md-button>
                          <md-button class="md-icon-button md-accent" aria-label="Eliminar" ng-click="main.eliminarVacacion($event, vacacion.id)" ng-if="vacacion.estado == 'creado' || vacacion.estado == 'rechazado'">
                              <md-tooltip>Eliminar</md-tooltip>
                              <md-icon>delete</md-icon>
                          </md-button>
                        </td>
                        <td class="text-center">
                          Del {{ vacacion.fecha_ini | date:'dd/MM/yyyy'}} <!-- a Hrs. {{ vacacion.hora_ini }}   --> <br>
                          al {{ vacacion.fecha_fin | date:'dd/MM/yyyy'}}<!--  a Hrs. {{ vacacion.hora_fin }} -->
                        </td>
                        <td>
                            <md-icon class="bg-{{vacacion.estado == 'aprobado' ? 'success' : vacacion.estado == 'rechazado' ? 'danger' : 'gray'}}">{{vacacion.estado == 'rechazado' ? 'cancel' : 'check_circle'}}</md-icon> {{main.lang.estado[vacacion.estado + '_vacacion']}}
                        </td>
                        <td class="text-center">{{ vacacion.tipo_vacacion == 'completo' ? 'D' : 'M'}}</td>
                        <td>{{ vacacion.unidad_organizacional }}</td>
                        <td class="text-center">{{ vacacion.jefe }}</td>
                        <!-- <td>{{ vacacion.fecha_registro | date:'dd/MM/yyyy hh:mm'}}</td> -->
                      </tr>                        
                    </tbody>
                  </table>
                </div>
              </md-card-content>
            </md-card>
          </md-content>          
        </md-tab-body>
      </md-tab>
    </md-tabs>
  <!-- </md-card> -->
</div>