// _footer.scss..................Page footer.

.no-login {
	footer {
    	color: #eee;
    	text-align: center;

    	a {
    		color: #eee;
    	}
    	span {
    		padding: 3px 5px;
			background-color: transparent;    		
    	}
	}
}

footer {
    bottom: 0;
    color: #333;
    font-size: 0.75rem;
    left: 0;
    margin: 0 20px 5px;
    position: fixed;
    right: 0;
    text-align: right;
    a {
    	color: $colorPrimary;
    	text-decoration: none;
    	&:hover {
    		text-decoration: underline;
    	}
    }
    span {
		background-color: white;
		padding: 3px 5px;
	}
}

@media (max-width: 768px) {
	footer {
		position: static;
		text-align: center;
		font-size: 10px;
		margin-top: 10px;
	}
}