<div class="container">
    <md-card ng-if="designacionVacaciones.rol == 2">
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>checked</md-icon> <span>Vacaciones por aprobar</span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="alert alert-info">
                Tareas a realizar:
                <ul class="no-style">
                    <li><md-icon>checked</md-icon> Puede <strong>aprobar</strong> un rango de vacación de un funcionario dependiente</li>
                    <!-- <li>Puede <strong>rechazar</strong> un rango de vacación de un funcionario dependiente</li> -->
                    <li><md-icon>timer</md-icon> Puede pedir al funcionario que <strong>reprograme</strong> su rango de vacación.</li>
                </ul>
            </div>
            <div class="alert alert-info">
              <strong>Tipo de vacación:</strong> <strong>D</strong> = Día completo, <strong>M</strong> = Medio día.
            </div>
            <div class="alert alert-danger" ng-if="!designacionVacaciones.ver_tabla">
                <md-icon>info_outline</md-icon> No tiene ninguna solicitud de vacación.
            </div>
            <div class="table-responsive" ng-if="designacionVacaciones.ver_tabla">
<!--                 <md-select-header class="demo-select-header width-28">
                    <input ng-model="searchTerm" type="search" placeholder="Buscar funcionario" class="demo-header-searchbox md-text"><md-icon>search</md-icon>
                </md-select-header> -->                

                <table class="table table-striped table-hovered table-horario detalle">
                    <thead>
                        <tr>
                            <th>Funcionario</th>
                            <th>Vacaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in designacionVacaciones.vacaciones">
                            <td class="text-center vertical-top">{{ item.nombre_completo }}</td>
                            <td>
                                <table class="width-100">
                                    <thead>
                                        <tr>
                                            <th>Acciones</th>
                                            <th class="text-left">Fechas</th>
                                            <th>Tipo de vacación</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dato in item.items">
                                            <td class="text-center md-table-options">
                                                <md-button class="md-icon-button" aria-label="Editar" ng-click="designacionVacaciones.aprobar($event, dato.id)">
                                                    <md-tooltip>Aprobar rango de vacación</md-tooltip>
                                                    <md-icon>checked</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button" aria-label="Reprogramar" ng-click="designacionVacaciones.reprogramar($event, dato.id)">
                                                    <md-tooltip>Reprogramar rango de vacación</md-tooltip>
                                                    <md-icon>timer</md-icon>
                                                </md-button>
                                                <!-- <md-button class="md-icon-button" aria-label="Editar" ng-click="designacionVacaciones.rechazar($event, dato.id)">
                                                    <md-tooltip>Rechazar rango de vacación</md-tooltip>
                                                    <md-icon>cancel</md-icon>
                                                </md-button> -->
                                            </td>
                                            <td>
                                                Del {{dato.fecha_ini | date:'dd/MM/yyyy'}}<br>
                                                al {{dato.fecha_fin | date:'dd/MM/yyyy'}}
                                            </td>
                                            <td class="text-center">{{ dato.tipo_vacacion == 'completo' ? 'D' : 'M'}}</td>                                            
                                            <td class="text-center">
                                                <md-icon class="bg-{{dato.estado == 'aprobado' ? 'success' : dato.estado == 'rechazado' ? 'danger' : 'gray'}}">{{dato.estado == 'rechazado' ? 'cancel' : 'check_circle'}}</md-icon> {{designacionVacaciones.lang.estado[dato.estado]}}
                                            </td>
                                        </tr>
                                    </tbody>       
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-card-content>
    </md-card>

    <md-card ng-controller="CalVacacionController">
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
            <md-icon>insert_invitation</md-icon> <span>Calendario de Vacaciones {{ year }} <small>Funcionarios dependientes</small></span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="alert alert-info">
                <md-icon>info_outline</md-icon> <strong>Conflictos: </strong> Revise el calendario de meses para comprobar que no existe conflictos con los rangos de fechas de los funcionarios dependientes, si es así puede solicitar a los funcionarios que reprogramen sus fechas de vacación.
            </div>
            <div class="calendar-label">
                <span class="label-completo">Vacación Día completo</span>
                <span class="label-medio">Vacación Medio día</span>
            </div>
            <div class="calendar" ng-model="eventSources" calendar="calVacaciones" ui-calendar="uiConfig.calendar"></div>
        </md-card-content>
    </md-card>

</div>
