.fc-event-container {
	.fc-time {
		display: none;
	}
}

.fc-toolbar.fc-header-toolbar {
	h2 {
		text-transform: uppercase;
	}
}
.calendar-label {	
	margin-bottom: -24px;

	.label-completo {
		background-color: #4C86A6;
		border: 1px solid darken(#4C86A6, 5%);
		padding: 3px 8px;
		font-size: .8rem;
		color: white;
	}
	.label-medio {
		background-color: #f17e67;
		border: 1px solid darken(#f17e67, 5%);
		padding: 3px 8px;
		font-size: .8rem;
		color: white;
	}
}
.no-style {
	list-style-type: none;
}