<div class="container">
	<crud-table url="biometricos.url" 
				permission="biometricos.permission" 
				title-table="biometricos.title" 
				template="biometricos.template"
				fields="biometricos.fields" 
				column="biometricos.column" 
				fks="biometricos.fks" node="true">
	</crud-table>
</div>