// _base.scss....................Base styling.

// @import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,700italic,400italic);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400);
// @import url(https://fonts.googleapis.com/css?family=Poppins:400,300,600,500,700);

html {
  font-family: 'Poppins', Helvetica, Arial, serif;	
  height: 100%;
}
body {
	height: 100%;
	background-color: lighten($colorPrimary, 84.5%);
  	font-size: 14px;
}

[layout=row] {
  flex-direction: row;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
strong {
    font-weight: 600;
}
.margin-0 {
	margin: 0 !important;
}
