// _variables.scss...............Variables.

$colorPrimary: #3b0c32;
$colorInfo: #D90000;
$colorDanger: #FF2D00;
$colorWarning: #FF8C00;
$colorSuccess: #04756F;

$minWidth: 960px;

$widthSidenav: 280px;
$collapedWidthSidenav: 70px;