<div class="container">
  <div class="alert alert-info">
    <strong>Nota.-</strong> Acá solo puede solicitar sus permisos, para ver el estado de sus permisos haga click <md-button class="btn-link" ng-click="designacionPermisosJefe.misPermisos()">Aquí</md-button>
  </div>
  <crud-table url="designacionPermisosJefe.url" 
  			title-table="designacionPermisosJefe.title" 
  			template="designacionPermisosJefe.template"
  			fields="designacionPermisosJefe.fields" 
  			column="designacionPermisosJefe.column" 
  			formly="designacionPermisosJefe.formly" 
  			permission="designacionPermisosJefe.permission" 
  			editable="designacionPermisosJefe.editable" 
  			order="designacionPermisosJefe.order" 
  			dialog-controller="designacionPermisosJefe.dialogController" 
  			event-save="designacionPermisosJefe.eventSave" 
  			fks="designacionPermisosJefe.fks">
  </crud-table>
</div>
