.ficha {

    md-input-container.md-default-theme label.md-required::after, md-input-container label.md-required::after {
        display: none;
    }
    
    .ficha-usuario {
        padding: 10px 15px 0;

        .layout-row {
            > div {
                label {
                    font-size: .7rem;
                    color: #777;
                }
                > div {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .formly-column-5,
    .formly-column-4,
    .formly-column-3 {
        max-width: 100%;

        md-card-content {
            padding-bottom: 0;
            padding-top: 30px;
            position: relative;

            .ficha-counter {
                background-color: #651556;
                border-radius: 50%;
                color: white;
                font-weight: 600;
                left: -10px;
                line-height: 26px;
                min-width: 26px;
                position: absolute;
                text-align: center;
                top: -10px;
            }

            .ficha-delete {
                position: absolute;
                right: -8px;
                top: -8px;

                button {
                    // background-color: white;
                    border: 1px solid #651556;
                    height: 28px;
                    margin: 0;
                    min-height: 28px;
                    padding: 0;
                    width: 28px;

                    md-icon {
                        color: #651556;
                        font-size: 28px;
                        font-weight: 500;
                        margin: -1px 0 0 -1px;
                    }

                    &:hover {
                        // background-color: lighten(#651556, 65%);
                    }
                }
            }
        }
    }

    .ficha-bg {
        background-color: #eee;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 0 5px;
    }
    .btn-container-profile {
        position: relative;

        .md-button {
            position: absolute;
            right: 15px;
            top: -72px;
        }
    }
}

.ficha.profile {
    .profile-user-photo {
        display: inline-block;
        float: right;
        margin: 25px 30px;
    }

    .profile-data {     
        display: inline-block;
        float: right;
        margin: 45px 0 0;
        padding: 25px;

        .profile-user-name,
        .profile-user-item,
        .profile-user-data {
            text-align: right;
        }
    }
}