<div class="ficha profile">
    <div class="profile-user-bg">
        <div class="profile-user-photo bg-success-user">
            <img src="" alt="" hidden>
            <!-- <i class="md-icon">account_circle</i> -->
            {{formulario.getInitial()}}
        </div>
        <div class="profile-data">
            <h2 class="profile-user-name">{{ formulario.getData('first_name') }} {{ formulario.getData('last_name') }}</h2>
            <h3 class="profile-user-item">{{ formulario.getData('email') }}</h3>
        </div>
    </div> 
</div>
<div class="container ficha">
    <md-card ng-controller="CalFeriadoController">
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>person</md-icon> <span>Mi ficha personal</span><!--  - Gestión {{ formulario.gestion }} -->
                <div flex></div>
                <md-button class="md-raised md-primary" ng-click="formulario.guardar(true)">
                    <md-tooltip>Guardar cambios</md-tooltip>
                    <md-icon>done</md-icon> Guardar
                </md-button>
                <md-button class="md-icon-button" ng-click="formulario.imprimir()">
                    <md-tooltip>Imprimir ficha personal</md-tooltip>
                    <md-icon>print</md-icon>
                </md-button>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <div class="alert alert-info margin-0">
                <md-icon>info_outline</md-icon> Complete lo datos de su ficha personal.
            </div>
        </md-card-content>
        <!-- <md-divider></md-divider>
        <md-card-content>
            <h2>I. NOMBRE DE LA ENTIDAD</h2>
            <p class="margin-0">{{ formulario.nombreEntidad }}</p>
        </md-card-content>
        <md-divider></md-divider> -->
        <md-tabs md-dynamic-height md-border-bottom md-selected="formulario.selectedIndex">
            <md-tab>
                <md-tab-label flex>
                    <md-icon>person_pin</md-icon> DATOS PERSONALES
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-usuario">
                        <div class="ficha-usuario">
                            <div layout>
                                <!-- <div flex>
                                    <label>C.I.: </label>
                                    <div>{{formulario.getData('ci')}}</div>
                                </div> -->
                                <div flex>
                                    <label>Apellido(s): </label>
                                    <div>{{formulario.getData('last_name')}}</div>
                                </div>
                                <div flex>
                                    <label>Nombre(s): </label>
                                    <div>{{formulario.getData('first_name')}}</div>
                                </div>
                                <div flex></div>
                                <div flex></div>
                            </div>
                        </div>
                    </md-card-content>
                    <!-- <md-divider></md-divider> -->
                    <md-card-content>
                        <div class="formly-column-4">
                            <formly-form model="formulario.data.ficha_personal" fields="formulario.fields['ficha_personal']" options="options" form="form1"></formly-form>
                        </div>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>folder_shared</md-icon> DATOS LABORALES
                </md-tab-label>
                <md-tab-body>
                    <md-card-content>
                        <div class="ficha-usuario">
                            <div layout>
                                <div flex>
                                    <label>Nombre de usuario: </label>
                                    <div>{{formulario.getData('username')}}</div>
                                </div>
                                <div flex>
                                    <label>Nro. de Item: </label>
                                    <div>{{formulario.getData('nro_item')}}</div>
                                </div>
                                <div flex>
                                    <label>Fecha de asignación del Item: </label>
                                    <div>{{formulario.getData('fecha_asignacion')}}</div>
                                </div>
                            </div>
                            <div layout>
                                <div flex>
                                    <label>CAS: </label>
                                    <div>{{formulario.getData('CAS')}}</div>
                                </div>
                                <div flex>
                                    <label>Correo electrónico institucional: </label>
                                    <div>{{formulario.getData('email')}}</div>
                                </div>
                                <div flex>
                                    <!-- <label>Cargo: </label>
                                    <div>{{formulario.getData('cargo')}}</div> -->
                                </div>
                                <!-- <div flex>
                                    <label>Unidad de dependencia: </label>
                                    <div>{{formulario.getData('unidad_dependencia')}}</div>
                                </div> -->
                            </div>
                        </div>
                    </md-card-content>
                    <!-- <md-divider></md-divider> -->
                    <md-card-content>
                        <div class="formly-column-3">
                            <formly-form model="formulario.data.ficha_laboral" fields="formulario.fields['ficha_laboral']" options="options" form="form2"></formly-form>
                        </div>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>trending_up</md-icon> TRAYECTORIA
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> Trayectoria laboral en la entidad (empezar por el cargo actual)
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('trayectoria')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nueva trayectoria</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-4" ng-repeat="item in formulario.data.trayectoria track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('trayectoria', item, $index)">
                                        <md-tooltip>Eliminar trayectoria</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.trayectoria[$index]" fields="formulario.fields['ficha_trayectoria']" options="options" form="form3"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>school</md-icon> ESTUDIOS ACADÉMICOS
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> Estudios universitarios y/o técnicos
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('estudios_universitarios')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nuevo estudio</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-5" ng-repeat="item in formulario.data.estudios_universitarios track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('estudios_universitarios', item, $index)">
                                        <md-tooltip>Eliminar estudio</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.estudios_universitarios[$index]" fields="formulario.fields['ficha_estudios_universitarios']" options="options" form="form4"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>star</md-icon> ESTUDIOS DE ESPECIALIZACIÓN
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> Estudios de especialización, Maestría y/o Doctorado
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('estudios_especializacion')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nuevo estudio</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-4" ng-repeat="item in formulario.data.estudios_especializacion track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('estudios_especializacion', item, $index)">
                                        <md-tooltip>Eliminar estudio</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.estudios_especializacion[$index]" fields="formulario.fields['ficha_estudios_especializacion']" options="options" form="form5"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>assignment</md-icon> CURSOS
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> Cursos, seminarios, otros.
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('cursos_relacionados')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nuevo curso</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-4" ng-repeat="item in formulario.data.cursos_relacionados track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('cursos_relacionados', item, $index)">
                                        <md-tooltip>Eliminar curso</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.cursos_relacionados[$index]" fields="formulario.fields['ficha_cursos_relacionados']" options="options" form="form6"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>language</md-icon> IDIOMAS
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> Idiomas que conoce
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('idiomas')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nuevo idioma</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-4" ng-repeat="item in formulario.data.idiomas track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('idiomas', item, $index)">
                                        <md-tooltip>Eliminar idioma</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.idiomas[$index]" fields="formulario.fields['ficha_idiomas']" options="options" form="form7"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>public</md-icon> OTROS CONOCIMIENTOS
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> Paquetes de computación
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('conocimientos')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nuevo</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-4" ng-repeat="item in formulario.data.conocimientos track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('conocimientos', item, $index)">
                                        <md-tooltip>Eliminar</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.conocimientos[$index]" fields="formulario.fields['ficha_conocimientos']" options="options" form="form8"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label flex>
                    <md-icon>event_note</md-icon> EXPERIENCIA LABORAL
                </md-tab-label>
                <md-tab-body>
                    <md-card-content class="ficha-bg">
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> EXPERIENCIA LABORAL (empezar por la más reciente)
                        </div>
                        <div class="btn-container-profile">
                            <md-button class="md-fab md-primary" ng-click="formulario.agregar('experiencia_laboral')" aria-label="Agregar">
                                <md-tooltip md-direction="left">Agregar nueva experiencia laboral</md-tooltip>
                                <md-icon>add</md-icon>
                            </md-button>                            
                        </div>
                        <md-card class="formly-column-4" ng-repeat="item in formulario.data.experiencia_laboral track by $index">
                            <md-card-content>
                                <div class="ficha-counter">{{ $index + 1 }}</div>
                                <div class="ficha-delete">
                                    <md-button class="md-icon-button" ng-click="formulario.eliminar('experiencia_laboral', item, $index)">
                                        <md-tooltip>Eliminar experiencia laboral</md-tooltip>
                                        <md-icon>cancel</md-icon>
                                    </md-button>
                                </div>
                                <formly-form model="formulario.data.experiencia_laboral[$index]" fields="formulario.fields['ficha_experiencia_laboral']" options="options" form="form9"></formly-form>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-tab-body>
            </md-tab>
            <!-- <md-tab>
                <md-tab-label flex>
                    <md-icon>assignment</md-icon> SUSCRIPCION DE LA FICHA DE PERSONAL
                </md-tab-label>
                <md-tab-body>
                    <md-card-content>
                        <div class="alert alert-info">
                            <md-icon>info_outline</md-icon> (empezar por el cargo actual)
                        </div>
                    </md-card-content>
                </md-tab-body>
            </md-tab> -->
        </md-tabs>
        <md-card-content>
            <div class="text-right">
                <md-button class="md-raised" ng-click="formulario.anterior()" ng-if="formulario.selectedIndex > 0"><md-icon>navigate_before</md-icon> Anterior</md-button>
                <md-button class="md-raised" ng-click="formulario.siguiente()" ng-if="formulario.selectedIndex != formulario.max"><md-icon>navigate_next</md-icon> Siguiente</md-button>
                <!-- <md-button class="md-raised md-primary"><md-icon>checked</md-icon> Guardar ficha personal</md-button> -->
            </div>
        </md-card-content>
    </md-card>
</div>
