<div class="container">
  <crud-table url="revisionHorarios.url"
              title-table="revisionHorarios.title"
              template="revisionHorarios.template"
              fields="revisionHorarios.fields"
              order="revisionHorarios.order"
              fks="revisionHorarios.fks">
  </crud-table>
</div>