<div class="container">
  <crud-table url="designacionPermisosAdmin.url" 
  			title-table="designacionPermisosAdmin.title" 
  			template="designacionPermisosAdmin.template"
  			fields="designacionPermisosAdmin.fields" 
  			column="designacionPermisosAdmin.column" 
  			formly="designacionPermisosAdmin.formly" 
  			permission="designacionPermisosAdmin.permission" 
  			editable="designacionPermisosAdmin.editable" 
  			order="designacionPermisosAdmin.order" 
  			dialog-controller="designacionPermisosAdmin.dialogController" 
  			event-save="designacionPermisosAdmin.eventSave" 
        id-show="designacionPermisosAdmin.idShow" 
  			fks="designacionPermisosAdmin.fks">
  </crud-table>
</div>
