<md-dialog aria-label="Agregar/Editar" ng-cloak>
    <form id="data-form" name="form" ng-submit="answer('save')">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-gt-sm="column" layout-padding style="overflow: initial;">
                    <md-input-container>
                        <label>Nombre de usuario</label>
                        <input ng-model="data.username" required>
                    </md-input-container>
                    <md-input-container ng-if="add">
                        <label>Contraseña</label>
                        <input ng-model="data.password" type="password" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="data.email" type="email">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nombre(s)</label>
                        <input ng-model="data.first_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Apellido(s)</label>
                        <input ng-model="data.last_name">
                    </md-input-container>
                    <input ng-model="data.id" type="hidden">
                    <input ng-model="data.is_active" type="hidden">
                </md-content>			  
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="answer('cancel')">
                <md-icon>cancel</md-icon> Cancelar
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">
                <md-icon>check</md-icon> Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>