<div class="container">
    <crud-table url="usuarios.url" 
                title-table="usuarios.title" 
                template="usuarios.template"
                fields="usuarios.fields" 
                formly="usuarios.formly" 
                column="usuarios.column" 
                editable="usuarios.editable" 
                permission="usuarios.permission" 
                dialog-controller="usuarios.dialogController" 
                fks="usuarios.fks">
    </crud-table>
    <md-card ng-controller="CalFeriadoController">
        <md-toolbar class="md-table-toolbar">
            <div class="md-toolbar-tools text-left">
                <md-icon>hourglass_full</md-icon> <span>Sincronizar usuarios LDAP</span>
                <div flex></div>
                <md-button class="md-icon-button btn-collapsed" ng-click="">
                    <md-tooltip>Colapsar</md-tooltip>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <p>Debe sincronizar los usuarios con el servidor LDAP solo cuando existen nuevos usuarios en LDAP.</p>
            <md-button class="md-raised md-primary" ng-click="usuarios.sincronizar()">
                <md-icon>hourglass_full</md-icon> Sincronizar ahora
            </md-button>
        </md-card-content>
    </md-card>
</div>
