<div class="container">
	<crud-table url="configuracion.url" 
				permission="configuracion.permission" 
				title-table="configuracion.title" 
				template="configuracion.template"
				fields="configuracion.fields" 
				column="configuracion.column" 
				option-selected="configuracion.optionSelected" 
				fks="configuracion.fks">
	</crud-table>
</div>
