<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Control de personal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div layout="column">
      <section layout="row" flex>
        <acme-sidenav id="sidenav-main"></acme-sidenav>
        <md-content flex layout-padding class="main">
          <div layout="column" layout-fill>
            <acme-navbar></acme-navbar>
            <md-progress-linear md-mode="query" class="loading-progress" id="loading-progress"></md-progress-linear>
            <div id="toast-container-main" class="toast-container"></div>
            <div class="container-main" id="container-main">
                <breadcrumb></breadcrumb>
                <div ui-view></div>
            </div>
          </div>
        </md-content>
      </section>
    </div>
    <footer><span>Desarrollado por Agetic {{ 'year' | datetime:'year' }}. <a href="//www.agetic.gob.bo" target="_blank">www.agetic.gob.bo</a></span></footer>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
